Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing, validate-model-configs, check-model-config-consistency

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

ruff-format-python:
  name: Ruff Format Python
  description: Format Python files in scripts/, scylla/, tests/, and all subdirectories using pixi run ruff format
  entry: pixi run ruff format scripts/ scylla/ tests/
  language: system
  pass_filenames: false

ruff-check-python:
  name: Ruff Check Python
  description: Lint Python files in scripts/, scylla/, tests/, and all subdirectories using pixi run ruff check
  entry: pixi run ruff check --fix scripts/ scylla/ tests/
  language: system
  pass_filenames: false

mypy-check-python:
  name: Mypy Type Check Python
  description: Type check Python files in scripts/, scylla/, tests/ using pixi run mypy. See MYPY_KNOWN_ISSUES.md for current state.
  entry: pixi run mypy scripts/ scylla/ tests/
  language: system
  pass_filenames: false

check-type-alias-shadowing:
  name: Check Type Alias Shadowing
  description: Prevent type aliases that shadow more specific domain names (e.g., Result = DomainResult)
  entry: python scripts/check_type_alias_shadowing.py
  language: system
  pass_filenames: true

validate-model-configs:
  name: Validate Model Config Naming
  description: Ensure model config filenames match the model_id and required fields are present
  entry: pixi run python scripts/validate_model_configs.py
  language: system
  pass_filenames: false

check-model-config-consistency:
  name: Check Model Config Filename/model_id Consistency
  description: Fails if any config/models/*.yaml filename does not match its model_id field (uses scylla.config.validation)
  entry: pixi run python scripts/check_model_config_consistency.py
  language: system
  pass_filenames: false

fix(config): add CLI entry point to pyproject.toml [project.scripts]
  pixi.lock
  pyproject.toml
Due: none

fix(scripts): scope pixi.toml version regex to [workspace] and add git tag creation
  scripts/bump_version.py
  tests/unit/scripts/test_bump_version.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

ci: add npm audit step to ci-image workflow for vulnerability scanning
  .github/workflows/ci-image.yml
Due: none

fix(cli): improve --output help text and warn on format/extension mismatch
  src/scylla/cli/main.py
Due: check-shell-injection

chore(scripts): deprecate standalone nats_subscribe.py in favour of scylla subscribe
  scripts/nats_subscribe.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

docs(agents): update project structure paths to src-layout
  .claude/agents/implementation-engineer.md
Due: none

refactor(judge): replace broad except Exception with specific exception types
  src/scylla/judge/runner.py
Due: check-shell-injection

test(core): add unit tests for scylla.__version__ including PackageNotFoundError fallback
  tests/unit/config/test_version.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(nats): pass deliver_policy to js.subscribe and suppress asyncio DeprecationWarning
  src/scylla/nats/subscriber.py
Due: check-shell-injection

refactor(reporting): extract ReportWriter protocol for FORMAT_GENERATORS type safety
  src/scylla/cli/main.py
  src/scylla/reporting/__init__.py
  src/scylla/reporting/protocols.py
Due: check-shell-injection

fix(nats): pass deliver_policy as string to avoid DeliverPolicy import guard issue
  src/scylla/nats/subscriber.py
Due: check-shell-injection

docs(agents): update stale scylla/ path refs to src/scylla/ in implementation-engineer
  .claude/agents/implementation-engineer.md
Due: none

fix: update stale --cov=scylla refs to --cov=src/scylla after src-layout migration
  CONTRIBUTING.md
  scripts/quality_audit_feb_2026_issues.sh
  scripts/run_ci_local.sh
Due: none

docs(changelog): update pre-commit hook count from 26+ to 27+
  CHANGELOG.md
Due: none

feat(scripts): add --tag flag to bump_version.py to create git tag after version bump
  scripts/bump_version.py
  tests/unit/scripts/test_bump_version.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(nats): wire deliver_policy from NATSConfig to js.subscribe()
  tests/unit/nats/test_subscriber.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): replace broad except Exception in judge_runner with specific exception types
  src/scylla/e2e/judge_runner.py
  tests/unit/e2e/test_judge_runner.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

deprecate(nats): add DeprecationWarning to nats_subscribe.py pointing to manage_experiment.py
  scripts/nats_subscribe.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

ci: pin nats-server installation to specific version with SHA256 verification
  .github/workflows/test.yml
Due: none

fix(scripts): scope pixi.toml version regex to [workspace] section
  scripts/check_version_consistency.py
  tests/unit/scripts/test_check_version_consistency.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(ci): fix release.yml version regex to handle dotted pyproject.toml table headers
  .github/workflows/release.yml
Due: none

test(cli): add negative-path test for run command orchestrator errors
  tests/unit/cli/test_main.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(nats): suppress asyncio.iscoroutinefunction DeprecationWarning from nats-py
  pyproject.toml
Due: none

fix(deps): regenerate pixi.lock after pyproject.toml filterwarnings addition
  pixi.lock
Due: none

Path conditions:
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  mypy-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  check-type-alias-shadowing: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$ and not (^tests/test_check_type_alias_shadowing\.py$)
  validate-model-configs: any of: ^config/models/.*\.yaml$
  check-model-config-consistency: any of: ^config/models/.*\.yaml$
