Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:

  # Security checks
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]

  # Python formatting and linting
  - repo: local
    hooks:
      - id: ruff-format-python
        name: Ruff Format Python
        description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
        entry: pixi run ruff format scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false
      - id: ruff-check-python
        name: Ruff Check Python
        description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
        entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false

  # Test coverage validation
  - repo: local
    hooks:
      - id: validate-test-coverage
        name: Validate Test Coverage
        description: Ensure all test_*.mojo files are covered by CI matrix
        entry: python3 scripts/validate_test_coverage.py
        language: system
        files: (test_.*\.mojo|comprehensive-tests\.yml)$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # Jupyter notebook output stripping
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        name: Strip Notebook Outputs
        description: Remove outputs from Jupyter notebooks before commit
        files: \.ipynb$
        args: ['--extra-keys', 'metadata.kernelspec']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

refactor(judge): deduplicate JSON extraction & fix LLM judge parsing
  scylla/e2e/llm_judge.py
  scylla/judge/__init__.py
  scylla/judge/evaluator.py
  scylla/judge/parser.py
  scylla/judge/utils.py
  tests/unit/e2e/test_subtest_executor.py
  tests/unit/judge/test_utils.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(scripts): eliminate PYTHONPATH requirement for all scripts
  scripts/agents/validate_agents.py
  scripts/check_coverage.py
  scripts/generate_changelog.py
  scripts/get_stats.py
  scripts/lint_configs.py
  scripts/merge_prs.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(scripts): add config and coverage tools (PR 5/5)
  scripts/agents/validate_agents.py
  scripts/check_coverage.py
  scripts/lint_configs.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): add deduplicate-llm-json-extraction skill
  .claude-plugin/skills/deduplicate-llm-json-extraction/SKILL.md
  .claude-plugin/skills/deduplicate-llm-json-extraction/references/notes.md
Due: none

feat(skills): add port-reusable-scripts skill
  .claude-plugin/skills/port-reusable-scripts/SKILL.md
  .claude-plugin/skills/port-reusable-scripts/plugin.json
  .claude-plugin/skills/port-reusable-scripts/references/notes.md
Due: none

fix(config): correct model pricing mismatches (#400)
  config/models/claude-opus-4-5.yaml
  config/models/claude-opus-4.yaml
  scylla/config/pricing.py
Due: check-shell-injection

refactor(agents): remove Mojo guides and convert agents to Python (#401 P0)
  .claude/agents/implementation-engineer.md
  .claude/agents/metrics-specialist.md
  .claude/shared/mojo-anti-patterns.md
  .claude/shared/mojo-guidelines.md
Due: none

docs(claude.md): update architecture tree to match reality (#402)
  CLAUDE.md
Due: none

refactor(datetime): code hygiene improvements (#415-#416)
  scripts/generate_changelog.py
  scylla/cli/progress.py
  scylla/executor/capture.py
  scylla/executor/workspace.py
  scylla/metrics/latency.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

test: update test_calculate_cost_claude_opus for new pricing
  tests/unit/adapters/test_base.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

test: fix test_elapsed_running for timezone-aware datetime
  tests/unit/cli/test_progress.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(config): config/tooling cleanup (#404-#412)
  .gooseignore
  .pre-commit-config.yaml
  docs/paper.md
  pixi.toml
  scripts/verify_paper_alignment.py
  scylla/adapters/base.py
  scylla/config/models.py
  scylla/metrics/grading.py
  tests/unit/config/test_models.py
  tests/unit/test_config_loader.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(e2e): change language defaults from mojo to python (#401 P1)
  scylla/e2e/llm_judge.py
  scylla/e2e/subtest_executor.py
Due: check-shell-injection

refactor(executor): remove static WorkspaceManager wrapper class (#418)
  scylla/executor/__init__.py
  scylla/executor/workspace.py
  scylla/orchestrator.py
  tests/unit/e2e/test_orchestrator.py
  tests/unit/executor/test_workspace.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

docs: consolidate metrics and research documentation (#413, #414)
  .claude/shared/metrics-definitions.md
  CLAUDE.md
  docs/research2.md
  docs/summary2.md
Due: none

feat(skills): Add investigate-test-failures skill
  .claude-plugin/skills/investigate-test-failures/SKILL.md
  .claude-plugin/skills/investigate-test-failures/plugin.json
  .claude-plugin/skills/investigate-test-failures/references/notes.md
Due: none

feat(skills): add parallel-pr-workflow skill
  .claude-plugin/skills/parallel-pr-workflow/SKILL.md
  .claude-plugin/skills/parallel-pr-workflow/plugin.json
  .claude-plugin/skills/parallel-pr-workflow/references/notes.md
Due: none

feat(tests): Expand test fixtures from T0-T2 to T0-T6
  tests/unit/analysis/conftest.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(analysis): Handle fallback field in judge validity checks (#323)
  scripts/export_data.py
  scylla/analysis/loader.py
  tests/unit/analysis/test_dataframe_builders.py
  tests/unit/analysis/test_dataframes.py
  tests/unit/analysis/test_degenerate_fixtures.py
  tests/unit/analysis/test_loader.py
  tests/unit/analysis/test_stats.py
  tests/unit/analysis/test_stats_degenerate.py
  tests/unit/analysis/test_stats_parametrized.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(tests): Replace bare float == with pytest.approx() (partial)
  tests/unit/analysis/test_config.py
  tests/unit/analysis/test_loader.py
  tests/unit/reporting/test_markdown.py
  tests/unit/reporting/test_result.py
  tests/unit/reporting/test_scorecard.py
  tests/unit/reporting/test_summary.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(tests): Complete pytest.approx() replacements (#316)
  tests/unit/analysis/test_dataframes.py
  tests/unit/analysis/test_stats.py
Due: check-shell-injection, ruff-format-python, ruff-check-python
