Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

ruff-format-python:
  name: Ruff Format Python
  description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
  entry: pixi run ruff format scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

ruff-check-python:
  name: Ruff Check Python
  description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
  entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

validate-test-coverage:
  name: Validate Test Coverage
  description: Ensure all test_*.mojo files are covered by CI matrix
  entry: python3 scripts/validate_test_coverage.py
  language: system
  pass_filenames: false

fix(automation): Fix git status --porcelain parsing
  scylla/automation/implementer.py
Due: check-shell-injection

refactor(automation): Move git operations to Claude agent
  scylla/automation/implementer.py
  scylla/automation/prompts.py
  tests/unit/automation/test_prompts.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(automation): Reuse existing branches when creating worktrees
  scylla/automation/worktree_manager.py
  tests/unit/automation/test_worktree_manager.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(automation): Add detailed error logging for Claude Code failures
  scylla/automation/implementer.py
Due: check-shell-injection

fix(tests): Resolve 4 skipped tests and clean up merge artifacts
  tests/unit/analysis/test_tables.py
  tests/unit/analysis/test_tables.py.orig
  tests/unit/cli/test_cli.py
  tests/unit/cli/test_cli.py.orig
  tests/unit/e2e/test_rate_limit_recovery.py
  tests/unit/e2e/test_rerun.py
  tests/unit/e2e/test_rerun.py.orig
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(automation): Make PR creation robust with fallback logic
  scylla/automation/implementer.py
Due: check-shell-injection

fix(automation): Fix import error - use _gh_call instead of gh_call
  scylla/automation/implementer.py
Due: check-shell-injection

feat(skills): Add fix-implement-issues-script debugging skill
  .claude-plugin/skills/fix-implement-issues-script/SKILL.md
  .claude-plugin/skills/fix-implement-issues-script/plugin.json
  .claude-plugin/skills/fix-implement-issues-script/references/notes.md
Due: none

fix(tests): Add missing mocks to implementer tests
  tests/unit/automation/test_implementer.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): Add planning-implementation-from-issue skill
  .claude-plugin/skills/planning-implementation-from-issue/SKILL.md
  .claude-plugin/skills/planning-implementation-from-issue/references/notes.md
  .claude-plugin/skills/planning-implementation-from-issue/skill.json
Due: none

fix(automation): Fix retrospective phase in implement_issues.py
  scylla/automation/implementer.py
  tests/unit/automation/test_implementer.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(ci): Add coverage thresholds to prevent regression
  .github/workflows/test.yml
  pixi.lock
  pyproject.toml
Due: none

feat(automation): Improve error handling and UI status granularity
  scylla/automation/github_api.py
  scylla/automation/implementer.py
  tests/unit/automation/test_github_api_errors.py
  tests/unit/automation/test_implementer.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

docs: Add .env.example and CONTRIBUTING.md for new contributors
  .env.example
  CONTRIBUTING.md
  README.md
Due: none

feat(automation): Persist execution logs for post-mortem analysis
  scripts/implement_issues.py
  scylla/automation/implementer.py
  tests/unit/automation/test_implementer.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(e2e): Decompose ExperimentRunner.run() into focused methods
  scylla/e2e/runner.py
Due: check-shell-injection

feat(ci): Add mypy type checking to pre-commit hooks
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
  pyproject.toml
Due: none

feat(e2e): Forbid remote operations in tests and optimize worktree creation
  scylla/e2e/tier_manager.py
  scylla/e2e/workspace_manager.py
  scylla/e2e/workspace_setup.py
  tests/unit/e2e/test_tier_manager.py
  tests/unit/e2e/test_workspace_manager.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(e2e): Decompose _save_pipeline_commands() into focused functions
  scylla/e2e/llm_judge.py
  tests/unit/e2e/test_llm_judge.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): Add forbid-e2e-remote-ops skill from PR #643 session
  .claude-plugin/skills/forbid-e2e-remote-ops/SKILL.md
  .claude-plugin/skills/forbid-e2e-remote-ops/plugin.json
  .claude-plugin/skills/forbid-e2e-remote-ops/references/notes.md
Due: none

Path conditions:
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  validate-test-coverage: any of: (test_.*\.mojo|comprehensive-tests\.yml)$
