Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:

  # Security checks
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]

  # Python formatting and linting
  - repo: local
    hooks:
      - id: ruff-format-python
        name: Ruff Format Python
        description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
        entry: pixi run ruff format scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false
      - id: ruff-check-python
        name: Ruff Check Python
        description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
        entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false

  # Test coverage validation
  - repo: local
    hooks:
      - id: validate-test-coverage
        name: Validate Test Coverage
        description: Ensure all test_*.mojo files are covered by CI matrix
        entry: python3 scripts/validate_test_coverage.py
        language: system
        files: (test_.*\.mojo|comprehensive-tests\.yml)$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # Jupyter notebook output stripping
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        name: Strip Notebook Outputs
        description: Remove outputs from Jupyter notebooks before commit
        files: \.ipynb$
        args: ['--extra-keys', 'metadata.kernelspec']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

feat(skills): add fix-altair-facet-layering debugging skill
  .claude-plugin/skills/fix-altair-facet-layering/SKILL.md
  .claude-plugin/skills/fix-altair-facet-layering/plugin.json
  .claude-plugin/skills/fix-altair-facet-layering/references/notes.md
Due: none

fix(analysis): fix remaining figure generation bugs
  scylla/analysis/figures/correlation.py
  scylla/analysis/figures/cost_analysis.py
  scylla/analysis/figures/criteria_analysis.py
  scylla/analysis/figures/impl_rate_analysis.py
  scylla/analysis/figures/judge_analysis.py
  scylla/analysis/figures/tier_performance.py
  scylla/analysis/figures/variance.py
Due: check-shell-injection

fix(analysis): Fix critical figure readability issues (Phase 1)
  scylla/analysis/figures/cost_analysis.py
  scylla/analysis/figures/variance.py
Due: check-shell-injection

fix(analysis): Improve fig05 heatmap text contrast and documentation
  scylla/analysis/figures/tier_performance.py
Due: check-shell-injection

fix(analysis): Add sample sizes to fig03 tier labels
  scylla/analysis/figures/variance.py
Due: check-shell-injection

fix(analysis): replace generic judge labels with descriptive axis titles in fig14
  scylla/analysis/figures/judge_analysis.py
Due: check-shell-injection

docs(analysis): document T4/T6 fresh token behavior in fig07
  scylla/analysis/figures/token_analysis.py
Due: check-shell-injection

fix(analysis): add subtest count annotations to fig25_impl_rate_by_tier
  scylla/analysis/figures/impl_rate_analysis.py
Due: check-shell-injection

fix(analysis): change fig11 baseline from T0 Best to T0-Subtest0
  scylla/analysis/figures/model_comparison.py
Due: check-shell-injection

feat(analysis): split fig18 into per-subtest and aggregate failure rate views
  scripts/generate_figures.py
  scylla/analysis/figures/variance.py
  tests/unit/analysis/test_figures.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(analysis): split fig15 into 3-level heatmap breakdown
  scripts/generate_figures.py
  scylla/analysis/figures/subtest_detail.py
  tests/unit/analysis/test_figures.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(figures): split fig23 and fig24 into per-tier figures
  scylla/analysis/figures/diagnostics.py
  tests/unit/analysis/test_figures.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(analysis): split fig09 into 5 criterion subplots for readability
  scylla/analysis/figures/criteria_analysis.py
Due: check-shell-injection

feat(analysis): split fig16 into per-subtest and aggregate variance views
  scripts/generate_figures.py
  scylla/analysis/figures/variance.py
  tests/unit/analysis/test_figures.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(figures): split judge figures into per-tier views + clean unused imports
  .claude-plugin/skills/fix-altair-facet-layering/SKILL.md
  scylla/analysis/figures/correlation.py
  scylla/analysis/figures/cost_analysis.py
  scylla/analysis/figures/criteria_analysis.py
  scylla/analysis/figures/diagnostics.py
  scylla/analysis/figures/impl_rate_analysis.py
  scylla/analysis/figures/judge_analysis.py
  scylla/analysis/figures/spec_builder.py
  scylla/analysis/figures/subtest_detail.py
  scylla/analysis/figures/tier_performance.py
  scylla/analysis/figures/variance.py
  tests/unit/analysis/test_figures.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): add split-figures-per-tier skill for Altair row limits
  .claude-plugin/skills/split-figures-per-tier/SKILL.md
  .claude-plugin/skills/split-figures-per-tier/plugin.json
  .claude-plugin/skills/split-figures-per-tier/references/notes.md
Due: none

fix(figures): properly filter fig19 data per model in faceted view
  scylla/analysis/figures/effect_size.py
Due: check-shell-injection

fix(arxiv): exclude paper.bbl and 00README.json from submission tarball
  docs/arxiv/dryrun/build.sh
Due: none

feat(skills): add quality-audit-tracking workflow skill
  .claude-plugin/skills/quality-audit-tracking/SKILL.md
  .claude-plugin/skills/quality-audit-tracking/metadata.json
  .claude-plugin/skills/quality-audit-tracking/references/notes.md
Due: none

feat(skills): add judge-rerun-workspace-corruption skill
  .claude-plugin/skills/judge-rerun-workspace-corruption/SKILL.md
  .claude-plugin/skills/judge-rerun-workspace-corruption/plugin.json
  .claude-plugin/skills/judge-rerun-workspace-corruption/references/notes.md
  scylla/e2e/llm_judge.py
  scylla/e2e/regenerate.py
  scylla/e2e/rerun.py
  scylla/e2e/rerun_judges.py
  scylla/e2e/subtest_executor.py
Due: check-shell-injection

fix(e2e): prevent prompt.md overwrite, ensure judge_prompt.md persistence, mark invalid fallback scores
  scylla/e2e/command_logger.py
  scylla/e2e/llm_judge.py
  tests/unit/e2e/test_command_logger.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(e2e): propagate is_valid through judge pipeline
  scylla/e2e/models.py
  scylla/e2e/rerun_judges.py
  scylla/e2e/subtest_executor.py
  tests/unit/e2e/test_models.py
  tests/unit/e2e/test_rerun_judges.py
  tests/unit/e2e/test_subtest_executor.py
Due: check-shell-injection, ruff-format-python, ruff-check-python
