Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:

  # Security checks
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]

  # Python formatting and linting
  - repo: local
    hooks:
      - id: ruff-format-python
        name: Ruff Format Python
        description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
        entry: pixi run ruff format scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false
      - id: ruff-check-python
        name: Ruff Check Python
        description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
        entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false

  # Test coverage validation
  - repo: local
    hooks:
      - id: validate-test-coverage
        name: Validate Test Coverage
        description: Ensure all test_*.mojo files are covered by CI matrix
        entry: python3 scripts/validate_test_coverage.py
        language: system
        files: (test_.*\.mojo|comprehensive-tests\.yml)$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # Jupyter notebook output stripping
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        name: Strip Notebook Outputs
        description: Remove outputs from Jupyter notebooks before commit
        files: \.ipynb$
        args: ['--extra-keys', 'metadata.kernelspec']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

fix(e2e): Complete Pydantic migration to fix all E2E test crashes
  scripts/run_e2e_batch.py
  scylla/e2e/rerun.py
  scylla/e2e/subtest_executor.py
  scylla/e2e/tier_manager.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(automation): Integrate /advise skill into plan_issues.py
  pixi.toml
  scripts/plan_issues.py
  scylla/automation/implementer.py
  scylla/automation/models.py
  scylla/automation/planner.py
  scylla/automation/prompts.py
  tests/unit/automation/test_models.py
  tests/unit/automation/test_planner.py
  tests/unit/automation/test_prompts.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

docs(skills): Add session 2 to fix-incomplete-pydantic-migration skill
  .claude-plugin/skills/fix-incomplete-pydantic-migration/SKILL.md
  .claude-plugin/skills/fix-incomplete-pydantic-migration/references/session-2-complete-migration.md
Due: none

feat(skills): Add advise-before-planning skill
  .claude-plugin/skills/advise-before-planning/SKILL.md
  .claude-plugin/skills/advise-before-planning/plugin.json
  .claude-plugin/skills/advise-before-planning/references/notes.md
Due: none

feat(automation): Integrate /retrospective skill into implement_issues.py
  scripts/implement_issues.py
  scylla/automation/implementer.py
  scylla/automation/models.py
  tests/unit/automation/test_implementer.py
  tests/unit/automation/test_models.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(automation): Use correct retrospective command with tool permissions
  scylla/automation/implementer.py
  tests/unit/automation/test_implementer.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(automation): Preserve environment when calling claude subprocess
  scylla/automation/planner.py
Due: check-shell-injection

feat(automation): Add Skills Used section to plan prompt
  scylla/automation/prompts.py
Due: check-shell-injection

feat(automation): Add follow-up issue filing and advise-to-plan linking
  scripts/implement_issues.py
  scylla/automation/github_api.py
  scylla/automation/implementer.py
  scylla/automation/models.py
  scylla/automation/prompts.py
  tests/unit/automation/test_github_api.py
  tests/unit/automation/test_implementer.py
  tests/unit/automation/test_models.py
  tests/unit/automation/test_prompts.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(automation): Enable retrospective by default in implement_issues.py
  scripts/implement_issues.py
  scylla/automation/models.py
  tests/unit/automation/test_implementer.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(automation): Use temp file instead of --message flag for Claude Code
  scylla/automation/implementer.py
  tests/unit/automation/test_implementer.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(e2e): Centralize base repository clones across experiments
  CENTRALIZED_REPOS_ANALYSIS.md
  scylla/e2e/rerun.py
  scylla/e2e/runner.py
  scylla/e2e/workspace_manager.py
  scylla/e2e/workspace_setup.py
  tests/unit/e2e/test_workspace_manager.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(automation): Add --issues flag to implement_issues.py
  scripts/implement_issues.py
  scylla/automation/implementer.py
  scylla/automation/models.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): Add centralize-repo-clones optimization skill
  .claude-plugin/plugin.json
  .claude-plugin/skills/centralize-repo-clones/SKILL.md
  .claude-plugin/skills/centralize-repo-clones/references/notes.md
Due: none

feat(automation): Add --no-ui flag to disable curses interface
  scripts/implement_issues.py
  scylla/automation/implementer.py
  scylla/automation/models.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(automation): Update implementation prompt to not request git operations
  scylla/automation/prompts.py
Due: check-shell-injection

fix(tests): Update test_default_values for enable_retrospective=True
  tests/unit/automation/test_models.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): Add fix-default-value-test-mismatch testing skill
  .claude-plugin/skills/fix-default-value-test-mismatch/SKILL.md
  .claude-plugin/skills/fix-default-value-test-mismatch/plugin.json
  .claude-plugin/skills/fix-default-value-test-mismatch/references/notes.md
Due: none

fix(automation): Fix implement_issues.py Claude Code integration
  scylla/automation/github_api.py
  scylla/automation/implementer.py
  scylla/automation/models.py
  scylla/automation/prompts.py
  tests/unit/automation/test_implementer.py
  tests/unit/automation/test_models.py
  tests/unit/automation/test_prompts.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(e2e): Fix batch runner pixi PATH and thread safety issues
  scripts/run_e2e_batch.py
Due: check-shell-injection, ruff-format-python, ruff-check-python
