Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing, validate-model-configs, check-model-config-consistency

Path conditions:
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  mypy-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  check-type-alias-shadowing: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$ and not (^tests/test_check_type_alias_shadowing\.py$)
  validate-model-configs: any of: ^config/models/.*\.yaml$
  check-model-config-consistency: any of: ^config/models/.*\.yaml$

fix(build): remove py.typed from wheel.force-include — hatchling includes it via packages
  pixi.lock
  pyproject.toml
Due: none

fix(test): update py.typed test to match hatchling packages approach
  tests/unit/config/test_py_typed.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(build): remove analysis/schemas force-include — breaks sdist→wheel builds
  pixi.lock
  pyproject.toml
Due: none

fix(build): add sdist include config and hatchling dep so py.typed survives sdist→wheel (#1905)
  .github/workflows/_required.yml
  pixi.lock
  pyproject.toml
  tests/unit/config/test_py_typed.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

chore: regenerate pixi.lock for pre-commit>=4.6.0 pyproject.toml change
  pixi.lock
Due: none

chore: regenerate pixi.lock for pandas>=2.3.3 pyproject.toml change
  pixi.lock
Due: none

chore(deps-dev): Update pre-commit requirement from >=4.5.1 to >=4.6.0
  pixi.lock
  pyproject.toml
Due: none

fix(architecture): consolidate duplicate circuit-breaker re-export modules
  src/scylla/automation/circuit_breaker.py
  tests/unit/automation/test_circuit_breaker.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(architecture): consolidate duplicate circuit-breaker re-export modules (#1906)
  src/scylla/automation/circuit_breaker.py
  tests/unit/automation/test_circuit_breaker.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(code-quality): replace manual to_dict() with model_dump(mode='json')
  src/scylla/e2e/judge_selection.py
  src/scylla/e2e/llm_judge_models.py
  src/scylla/e2e/models.py
Due: check-shell-injection

fix(code-quality): replace manual to_dict() with model_dump(mode='json') (#1907)
  src/scylla/e2e/judge_selection.py
  src/scylla/e2e/llm_judge_models.py
  src/scylla/e2e/models.py
Due: check-shell-injection

chore: update paper
  docs/arxiv/haiku/paper.pdf
Due: none

chore: update paper (#1908)
  docs/arxiv/haiku/paper.pdf
Due: none

chore(deps-dev): Update pre-commit requirement from >=4.5.1 to >=4.6.0 (#1909)
  pixi.lock
  pyproject.toml
Due: none

chore(architecture): remove agamemnon chaos injection from Scylla (fixes #1910)
  src/scylla/adapters/agamemnon_client.py
  src/scylla/agamemnon/__init__.py
  src/scylla/agamemnon/_retry.py
  src/scylla/agamemnon/async_client.py
  src/scylla/agamemnon/client.py
  src/scylla/agamemnon/errors.py
  src/scylla/agamemnon/models.py
  src/scylla/agamemnon/protocols.py
  src/scylla/e2e/models.py
  src/scylla/e2e/parallel_executor.py
  tests/unit/adapters/test_agamemnon_client.py
  tests/unit/agamemnon/__init__.py
  tests/unit/agamemnon/test_async_client.py
  tests/unit/agamemnon/test_client.py
  tests/unit/agamemnon/test_models.py
  tests/unit/agamemnon/test_protocols.py
  tests/unit/agamemnon/test_retry.py
  tests/unit/e2e/test_parallel_executor.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

chore(architecture): remove agamemnon chaos injection from Scylla (fixes #1910) (#1911)
  src/scylla/adapters/agamemnon_client.py
  src/scylla/agamemnon/__init__.py
  src/scylla/agamemnon/_retry.py
  src/scylla/agamemnon/async_client.py
  src/scylla/agamemnon/client.py
  src/scylla/agamemnon/errors.py
  src/scylla/agamemnon/models.py
  src/scylla/agamemnon/protocols.py
  src/scylla/e2e/models.py
  src/scylla/e2e/parallel_executor.py
  tests/unit/adapters/test_agamemnon_client.py
  tests/unit/agamemnon/__init__.py
  tests/unit/agamemnon/test_async_client.py
  tests/unit/agamemnon/test_client.py
  tests/unit/agamemnon/test_models.py
  tests/unit/agamemnon/test_protocols.py
  tests/unit/agamemnon/test_retry.py
  tests/unit/e2e/test_parallel_executor.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

chore(py): raise Python baseline to 3.13
  .github/workflows/_required.yml
  .github/workflows/digest-check.yml
  ci/Containerfile
  docker/Dockerfile
  pyproject.toml
  uv.lock
Due: none

chore(py): raise Python baseline to 3.13 (#2075)
  .github/workflows/_required.yml
  .github/workflows/digest-check.yml
  ci/Containerfile
  docker/Dockerfile
  pyproject.toml
  uv.lock
Due: none

ci: podman-by-default container CI (runner, Containerfile, workflow, justfile)
  .github/workflows/_required.yml
  ci/Containerfile
  coverage.xml
  junit-integration.xml
  junit-unit.xml
  justfile
  scripts/run_ci_local.sh
  tests/unit/executor/test_judge_container.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

chore: gitignore CI test artifacts (coverage.xml, junit-*.xml)
  .gitignore
  coverage.xml
  junit-integration.xml
  junit-unit.xml
Due: none

fix(ci): un-double-brace cache key expressions (invalid workflow)
  .github/workflows/_required.yml
Due: none

ci: harden container CI
  ci/Containerfile
  justfile
Due: none

ci: writable lint caches (/tmp) + safe.directory for git in CI container
  scripts/run_ci_local.sh
Due: none

ci: container: userns uid/gid mapping, libatomic1, trivyignore tooling CVEs
  .trivyignore
  ci/Containerfile
  scripts/run_ci_local.sh
Due: none

ci: trivyignore quinn-proto in pinned uv/uvx + js-yaml in node tooling cache
  .trivyignore
Due: none

ci: suppress GHSA-5p4m-2wfm-xmqj (js-yaml) in CI image scan
  .trivyignore
Due: none

ci: podman-by-default container CI (runner, Containerfile, workflow, justfile) (#2076)
  .github/workflows/_required.yml
  .gitignore
  .trivyignore
  ci/Containerfile
  justfile
  scripts/run_ci_local.sh
  tests/unit/executor/test_judge_container.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(docker): align site-packages COPY path with python 3.13 base
  docker/Dockerfile
Due: none

chore(deps): regenerate uv.lock after dependabot twine bump
  uv.lock
Due: none

chore(deps): regenerate uv.lock after dependabot pip-audit bump
  uv.lock
Due: none

fix(docker): bump vulnerable npm pins surfaced by Trivy image scan
  docker/Dockerfile
Due: none

fix(docker): align site-packages COPY path with python 3.13 base (#2077)
  docker/Dockerfile
Due: none

chore(deps-dev): update hatchling requirement to >=1.31.0,<2 (#2073)
  docker/Dockerfile
  pyproject.toml
  uv.lock
Due: none

chore(deps-dev): update mypy requirement to >=2.3.0,<3 (#2058)
  pyproject.toml
  uv.lock
Due: none

chore(deps): standardize monthly grouped dependabot config
  .github/dependabot.yml
Due: none

chore(deps): standardize monthly grouped dependabot config (#2079)
  .github/dependabot.yml
Due: none
