Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:

  # Security checks
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]

  # Python formatting and linting
  - repo: local
    hooks:
      - id: ruff-format-python
        name: Ruff Format Python
        description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
        entry: pixi run ruff format scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false
      - id: ruff-check-python
        name: Ruff Check Python
        description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
        entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false

  # Test coverage validation
  - repo: local
    hooks:
      - id: validate-test-coverage
        name: Validate Test Coverage
        description: Ensure all test_*.mojo files are covered by CI matrix
        entry: python3 scripts/validate_test_coverage.py
        language: system
        files: (test_.*\.mojo|comprehensive-tests\.yml)$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # Jupyter notebook output stripping
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        name: Strip Notebook Outputs
        description: Remove outputs from Jupyter notebooks before commit
        files: \.ipynb$
        args: ['--extra-keys', 'metadata.kernelspec']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

feat(paper): establish paper.tex as source of truth with dynamic figure scaling
  docs/paper-dryrun-arxiv/tables/tab04_criteria_performance.tex
  docs/paper.tex
  scripts/build_arxiv_paper.py
  scripts/build_arxiv_submission.sh
  scripts/generate_figures.py
  scripts/regenerate_main_tex.sh
  scripts/verify_paper_alignment.py
  scylla/analysis/figures/correlation.py
  scylla/analysis/figures/cost_analysis.py
  scylla/analysis/figures/criteria_analysis.py
  scylla/analysis/figures/impl_rate_analysis.py
  scylla/analysis/figures/judge_analysis.py
  scylla/analysis/figures/model_comparison.py
  scylla/analysis/figures/spec_builder.py
  scylla/analysis/figures/tier_performance.py
  scylla/analysis/figures/variance.py
  tests/unit/analysis/test_figures.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

docs(paper): fix data accuracy, improve structure, and enhance content quality
  docs/paper-dryrun-arxiv/main.tex
  docs/paper-dryrun-arxiv/tables/tab04_criteria_performance.tex
  docs/paper-dryrun/tables/tab04_criteria_performance.tex
  docs/paper.tex
  scripts/build_arxiv_paper.py
  scripts/verify_paper_alignment.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): add academic-paper-qa skill for LaTeX validation
  .claude-plugin/skills/academic-paper-qa/SKILL.md
  .claude-plugin/skills/academic-paper-qa/plugin.json
  .claude-plugin/skills/academic-paper-qa/references/notes.md
Due: none

docs(paper): fix data accuracy, improve rigor, and reduce noise
  docs/paper.tex
Due: none

feat(skills): add academic-paper-validation skill
  .claude-plugin/skills/academic-paper-validation/SKILL.md
  .claude-plugin/skills/academic-paper-validation/plugin.json
  .claude-plugin/skills/academic-paper-validation/references/notes.md
Due: none

fix(e2e): convert checkpoint completed_runs keys from string to int on load
  scylla/e2e/checkpoint.py
  tests/unit/e2e/test_resume.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): add academic-paper-validation skill
  docs/paper.tex
Due: none

chore: more documentation fixes
  docs/paper-dryrun-arxiv/main.tex
  docs/paper.tex
Due: none

fix: cleanup the formatting
  docs/paper-dryrun-arxiv/main.tex
  docs/paper.tex
Due: none

fix(paper): implement quality improvements with dynamic Y-axis rounding
  docs/paper-dryrun-arxiv/main.bbl
  docs/paper-dryrun-arxiv/main.pdf
  docs/paper-dryrun-arxiv/main.tex
  docs/paper-dryrun-arxiv/submission.tar.gz
  docs/paper-dryrun-arxiv/tables/tab04_criteria_performance.tex
  docs/paper-dryrun/tables/tab04_criteria_performance.tex
  docs/paper.aux
  docs/paper.bbl
  docs/paper.blg
  docs/paper.log
  docs/paper.out
  docs/paper.pdf
  scylla/analysis/figures/model_comparison.py
  scylla/analysis/figures/spec_builder.py
  scylla/analysis/figures/subtest_detail.py
  scylla/analysis/figures/tier_performance.py
  scylla/analysis/figures/token_analysis.py
Due: check-shell-injection

fix(figures): regenerate empty figures and fix fig11 marker colors
  docs/paper-dryrun/figures/fig01_score_variance_by_tier.csv
  docs/paper-dryrun/figures/fig01_score_variance_by_tier.pdf
  docs/paper-dryrun/figures/fig01_score_variance_by_tier.png
  docs/paper-dryrun/figures/fig01_score_variance_by_tier.vl.json
  docs/paper-dryrun/figures/fig05_grade_heatmap.pdf
  docs/paper-dryrun/figures/fig05_grade_heatmap.png
  docs/paper-dryrun/figures/fig05_grade_heatmap.vl.json
  docs/paper-dryrun/figures/fig06_cop_by_tier.pdf
  docs/paper-dryrun/figures/fig06_cop_by_tier.png
  docs/paper-dryrun/figures/fig06_cop_by_tier.vl.json
  docs/paper-dryrun/figures/fig08_cost_quality_pareto.csv
  docs/paper-dryrun/figures/fig08_cost_quality_pareto.pdf
  docs/paper-dryrun/figures/fig08_cost_quality_pareto.png
  docs/paper-dryrun/figures/fig08_cost_quality_pareto.vl.json
  docs/paper-dryrun/figures/fig17_judge_variance_overall.pdf
  docs/paper-dryrun/figures/fig17_judge_variance_overall.png
  docs/paper-dryrun/figures/fig17_judge_variance_overall.vl.json
  scylla/analysis/figures/model_comparison.py
Due: check-shell-injection

fix(figures): regenerate all figures with updated code and Y-axis improvements
  docs/paper-dryrun/figures/fig01_score_variance_by_tier.pdf
  docs/paper-dryrun/figures/fig02_judge_variance.pdf
  docs/paper-dryrun/figures/fig02_judge_variance.png
  docs/paper-dryrun/figures/fig02_judge_variance.vl.json
  docs/paper-dryrun/figures/fig03_failure_rate_by_tier.pdf
  docs/paper-dryrun/figures/fig03_failure_rate_by_tier.png
  docs/paper-dryrun/figures/fig03_failure_rate_by_tier.vl.json
  docs/paper-dryrun/figures/fig04_pass_rate_by_tier.pdf
  docs/paper-dryrun/figures/fig04_pass_rate_by_tier.png
  docs/paper-dryrun/figures/fig04_pass_rate_by_tier.vl.json
  docs/paper-dryrun/figures/fig07_token_distribution.pdf
  docs/paper-dryrun/figures/fig07_token_distribution.png
  docs/paper-dryrun/figures/fig07_token_distribution.vl.json
  docs/paper-dryrun/figures/fig08_cost_quality_pareto.pdf
  docs/paper-dryrun/figures/fig09_criteria_by_tier.pdf
  docs/paper-dryrun/figures/fig09_criteria_by_tier.png
  docs/paper-dryrun/figures/fig09_criteria_by_tier.vl.json
  docs/paper-dryrun/figures/fig11_tier_uplift.pdf
  docs/paper-dryrun/figures/fig11_tier_uplift.png
  docs/paper-dryrun/figures/fig11_tier_uplift.vl.json
  docs/paper-dryrun/figures/fig13_latency.pdf
  docs/paper-dryrun/figures/fig13_latency.png
  docs/paper-dryrun/figures/fig13_latency.vl.json
  docs/paper-dryrun/figures/fig14_judge_agreement.pdf
  docs/paper-dryrun/figures/fig14_judge_agreement.png
  docs/paper-dryrun/figures/fig14_judge_agreement.vl.json
  docs/paper-dryrun/figures/fig17_judge_variance_overall.pdf
  docs/paper-dryrun/figures/fig20_metric_correlation_heatmap.pdf
  docs/paper-dryrun/figures/fig20_metric_correlation_heatmap.png
  docs/paper-dryrun/figures/fig20_metric_correlation_heatmap.vl.json
  docs/paper-dryrun/figures/fig26_impl_rate_vs_pass_rate.csv
  docs/paper-dryrun/figures/fig26_impl_rate_vs_pass_rate.pdf
  docs/paper-dryrun/figures/fig26_impl_rate_vs_pass_rate.png
  docs/paper-dryrun/figures/fig26_impl_rate_vs_pass_rate.vl.json
  scripts/generate_all_results.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(figures): improve visibility and layout of judge/criteria figures
  docs/paper-dryrun-arxiv/figures/fig01_score_variance_by_tier.pdf
  docs/paper-dryrun-arxiv/figures/fig02_judge_variance.pdf
  docs/paper-dryrun-arxiv/figures/fig03_failure_rate_by_tier.pdf
  docs/paper-dryrun-arxiv/figures/fig04_pass_rate_by_tier.pdf
  docs/paper-dryrun-arxiv/figures/fig05_grade_heatmap.pdf
  docs/paper-dryrun-arxiv/figures/fig06_cop_by_tier.pdf
  docs/paper-dryrun-arxiv/figures/fig07_token_distribution.pdf
  docs/paper-dryrun-arxiv/figures/fig08_cost_quality_pareto.pdf
  docs/paper-dryrun-arxiv/figures/fig09_criteria_by_tier.pdf
  docs/paper-dryrun-arxiv/figures/fig11_tier_uplift.pdf
  docs/paper-dryrun-arxiv/figures/fig13_latency.pdf
  docs/paper-dryrun-arxiv/figures/fig14_judge_agreement.pdf
  docs/paper-dryrun-arxiv/figures/fig17_judge_variance_overall.pdf
  docs/paper-dryrun-arxiv/figures/fig20_metric_correlation_heatmap.pdf
  docs/paper-dryrun-arxiv/figures/fig26_impl_rate_vs_pass_rate.pdf
  docs/paper-dryrun-arxiv/main.pdf
  docs/paper-dryrun-arxiv/main.tex
  docs/paper-dryrun-arxiv/submission.tar.gz
  docs/paper-dryrun/figures/fig02_judge_variance.pdf
  docs/paper-dryrun/figures/fig02_judge_variance.png
  docs/paper-dryrun/figures/fig02_judge_variance.vl.json
  docs/paper-dryrun/figures/fig09_criteria_by_tier.pdf
  docs/paper-dryrun/figures/fig09_criteria_by_tier.png
  docs/paper-dryrun/figures/fig09_criteria_by_tier.vl.json
  docs/paper-dryrun/figures/fig14_judge_agreement.csv
  docs/paper-dryrun/figures/fig14_judge_agreement.pdf
  docs/paper-dryrun/figures/fig14_judge_agreement.png
  docs/paper-dryrun/figures/fig14_judge_agreement.vl.json
  docs/paper.pdf
  scylla/analysis/figures/criteria_analysis.py
  scylla/analysis/figures/judge_analysis.py
Due: check-shell-injection

fix(figures): use full Y-axis domain for fig13 latency breakdown
  docs/paper-dryrun/figures/fig13_latency.pdf
  docs/paper-dryrun/figures/fig13_latency.png
  docs/paper-dryrun/figures/fig13_latency.vl.json
  scylla/analysis/figures/subtest_detail.py
Due: check-shell-injection

fix(figures): improve readability and scaling across multiple figures
  docs/paper-dryrun/figures/fig02_judge_variance.pdf
  docs/paper-dryrun/figures/fig02_judge_variance.png
  docs/paper-dryrun/figures/fig02_judge_variance.vl.json
  docs/paper-dryrun/figures/fig13_latency.pdf
  docs/paper-dryrun/figures/fig13_latency.png
  docs/paper-dryrun/figures/fig13_latency.vl.json
  docs/paper-dryrun/figures/fig20_metric_correlation_heatmap.pdf
  docs/paper-dryrun/figures/fig20_metric_correlation_heatmap.png
  docs/paper-dryrun/figures/fig20_metric_correlation_heatmap.vl.json
  docs/paper-dryrun/figures/fig26_impl_rate_vs_pass_rate.pdf
  docs/paper-dryrun/figures/fig26_impl_rate_vs_pass_rate.vl.json
  scylla/analysis/figures/correlation.py
  scylla/analysis/figures/impl_rate_analysis.py
  scylla/analysis/figures/judge_analysis.py
  scylla/analysis/figures/subtest_detail.py
Due: check-shell-injection

fix(figures): change correlation heatmap colors to blue-orange scheme
  docs/paper-dryrun/figures/fig01_score_variance_by_tier.pdf
  docs/paper-dryrun/figures/fig02_judge_variance.pdf
  docs/paper-dryrun/figures/fig03_failure_rate_by_tier.pdf
  docs/paper-dryrun/figures/fig04_pass_rate_by_tier.pdf
  docs/paper-dryrun/figures/fig05_grade_heatmap.pdf
  docs/paper-dryrun/figures/fig08_cost_quality_pareto.pdf
  docs/paper-dryrun/figures/fig09_criteria_by_tier.pdf
  docs/paper-dryrun/figures/fig13_latency.pdf
  docs/paper-dryrun/figures/fig14_judge_agreement.pdf
  docs/paper-dryrun/figures/fig17_judge_variance_overall.pdf
  docs/paper-dryrun/figures/fig20_metric_correlation_heatmap.pdf
  docs/paper-dryrun/figures/fig20_metric_correlation_heatmap.png
  docs/paper-dryrun/figures/fig20_metric_correlation_heatmap.vl.json
  docs/paper-dryrun/figures/fig21_cost_quality_regression.csv
  docs/paper-dryrun/figures/fig21_cost_quality_regression.pdf
  docs/paper-dryrun/figures/fig21_cost_quality_regression.png
  docs/paper-dryrun/figures/fig21_cost_quality_regression.vl.json
  docs/paper-dryrun/figures/fig25_impl_rate_by_tier.csv
  docs/paper-dryrun/figures/fig25_impl_rate_by_tier.pdf
  docs/paper-dryrun/figures/fig25_impl_rate_by_tier.png
  docs/paper-dryrun/figures/fig25_impl_rate_by_tier.vl.json
  docs/paper-dryrun/figures/fig26_impl_rate_vs_pass_rate.pdf
  docs/paper-dryrun/figures/fig27_impl_rate_distribution.csv
  docs/paper-dryrun/figures/fig27_impl_rate_distribution.vl.json
  scylla/analysis/figures/correlation.py
Due: check-shell-injection

docs(paper): remove Appendix D (Additional Figures section)
  docs/paper.tex
  scylla/analysis/figures/subtest_detail.py
Due: check-shell-injection

fix: updates to various things
  docs/paper-dryrun-arxiv/figures/fig01_score_variance_by_tier.pdf
  docs/paper-dryrun-arxiv/figures/fig02_judge_variance.pdf
  docs/paper-dryrun-arxiv/figures/fig03_failure_rate_by_tier.pdf
  docs/paper-dryrun-arxiv/figures/fig04_pass_rate_by_tier.pdf
  docs/paper-dryrun-arxiv/figures/fig05_grade_heatmap.pdf
  docs/paper-dryrun-arxiv/figures/fig08_cost_quality_pareto.pdf
  docs/paper-dryrun-arxiv/figures/fig09_criteria_by_tier.pdf
  docs/paper-dryrun-arxiv/figures/fig13_latency.pdf
  docs/paper-dryrun-arxiv/figures/fig14_judge_agreement.pdf
  docs/paper-dryrun-arxiv/figures/fig17_judge_variance_overall.pdf
  docs/paper-dryrun-arxiv/figures/fig20_metric_correlation_heatmap.pdf
  docs/paper-dryrun-arxiv/figures/fig21_cost_quality_regression.pdf
  docs/paper-dryrun-arxiv/figures/fig25_impl_rate_by_tier.pdf
  docs/paper-dryrun-arxiv/figures/fig26_impl_rate_vs_pass_rate.pdf
  docs/paper-dryrun-arxiv/main.pdf
  docs/paper-dryrun-arxiv/main.tex
  docs/paper-dryrun-arxiv/submission.tar.gz
Due: none

fix(paper): correct methodology and fix typos/grammar
  docs/paper.aux
  docs/paper.log
  docs/paper.out
  docs/paper.pdf
  docs/paper.tex
Due: none

feat(skills): add paper-validation-workflow skill
  .claude-plugin/plugin.json
  .claude-plugin/skills/paper-validation-workflow/SKILL.md
  .claude-plugin/skills/paper-validation-workflow/references/notes.md
Due: none

fix(paper): resolve 5 publication-readiness issues
  docs/paper.bbl
  docs/paper.pdf
  docs/paper.tex
  docs/references.bib
Due: none
