Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing, validate-model-configs, check-model-config-consistency

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

ruff-format-python:
  name: Ruff Format Python
  description: Format Python files in scripts/, scylla/, tests/, and all subdirectories using pixi run ruff format
  entry: pixi run ruff format scripts/ scylla/ tests/
  language: system
  pass_filenames: false

ruff-check-python:
  name: Ruff Check Python
  description: Lint Python files in scripts/, scylla/, tests/, and all subdirectories using pixi run ruff check
  entry: pixi run ruff check --fix scripts/ scylla/ tests/
  language: system
  pass_filenames: false

mypy-check-python:
  name: Mypy Type Check Python
  description: Type check Python files in scripts/, scylla/, tests/ using pixi run mypy. See MYPY_KNOWN_ISSUES.md for current state.
  entry: pixi run mypy scripts/ scylla/ tests/
  language: system
  pass_filenames: false

check-type-alias-shadowing:
  name: Check Type Alias Shadowing
  description: Prevent type aliases that shadow more specific domain names (e.g., Result = DomainResult)
  entry: python scripts/check_type_alias_shadowing.py
  language: system
  pass_filenames: true

validate-model-configs:
  name: Validate Model Config Naming
  description: Ensure model config filenames match the model_id and required fields are present
  entry: pixi run python scripts/validate_model_configs.py
  language: system
  pass_filenames: false

check-model-config-consistency:
  name: Check Model Config Filename/model_id Consistency
  description: Fails if any config/models/*.yaml filename does not match its model_id field (uses scylla.config.validation)
  entry: pixi run python scripts/check_model_config_consistency.py
  language: system
  pass_filenames: false

feat(automation): add circuit_breaker re-export shim from hephaestus.resilience
  src/scylla/automation/__init__.py
  src/scylla/automation/circuit_breaker.py
  tests/unit/automation/test_circuit_breaker.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix: resolve pre-commit violations
  src/scylla/automation/circuit_breaker.py
  tests/unit/automation/test_circuit_breaker.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

chore: update gitleaks to v8.30.1
  .pre-commit-config.yaml
Due: none

fix: resolve pre-commit ruff violations
  tests/unit/e2e/test_model_validation.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

chore(deps): bump matplotlib, pytest, pre-commit lower bounds
  pixi.lock
  pyproject.toml
Due: none

refactor(e2e): replace inline retry loop in model_validation with decorator (Closes #1617)
  src/scylla/e2e/model_validation.py
  tests/unit/e2e/test_model_validation.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): infrastructure failures skip subtest instead of aborting experiment
  src/scylla/e2e/parallel_executor.py
  src/scylla/e2e/runner.py
  src/scylla/e2e/stages.py
Due: check-shell-injection

chore: stage changes before rebase
  .github/workflows/ci-image.yml
  src/scylla/adapters/agamemnon_client.py
  src/scylla/e2e/workspace_manager.py
  src/scylla/maestro/__init__.py
  src/scylla/maestro/async_client.py
  src/scylla/maestro/client.py
  src/scylla/maestro/errors.py
  src/scylla/maestro/models.py
  tests/integration/cli/test_cli_integration.py
  tests/unit/adapters/test_agamemnon_client.py
  tests/unit/maestro/__init__.py
  tests/unit/maestro/conftest.py
  tests/unit/maestro/test_client.py
  tests/unit/maestro/test_models.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(adapters): add AgamemnonClient with retry logic for transient failures
  src/scylla/adapters/agamemnon_client.py
  tests/unit/adapters/test_agamemnon_client.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(maestro): add MaestroClient and AsyncMaestroClient with exponential backoff retry logic
  src/scylla/maestro/__init__.py
  src/scylla/maestro/async_client.py
  src/scylla/maestro/client.py
  src/scylla/maestro/errors.py
  src/scylla/maestro/models.py
  tests/unit/maestro/__init__.py
  tests/unit/maestro/conftest.py
  tests/unit/maestro/test_client.py
  tests/unit/maestro/test_models.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(e2e): add output_path params to hierarchy report save functions
  src/scylla/e2e/run_report_hierarchy.py
Due: check-shell-injection

fix: wrap long docstring lines to stay within 100 char limit
  src/scylla/e2e/run_report_hierarchy.py
Due: check-shell-injection

feat(adapters): add retry wrapper for subprocess calls in claude_code adapter
  src/scylla/adapters/claude_code.py
Due: check-shell-injection

fix: add type annotation for resilient_call result to satisfy mypy
  src/scylla/adapters/claude_code.py
Due: check-shell-injection

fix: move InfrastructureFailureError to rate_limit.py to break circular import
  src/scylla/e2e/parallel_executor.py
  src/scylla/e2e/rate_limit.py
  src/scylla/e2e/runner.py
  src/scylla/e2e/stages.py
  tests/unit/e2e/test_stage_commit_agent_changes.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(config): add ResilienceConfig model and wire into DefaultsConfig
  src/scylla/config/models.py
Due: check-shell-injection

feat(ci): add GitHub Actions workflow for automated release bumps (Closes #1701)
  .github/workflows/release.yml
Due: none

feat(cli): wire subscribe subcommand to scylla.nats, remove hasattr guard
  scripts/manage_experiment.py
  tests/integration/test_subscribe_config.py
  tests/unit/e2e/test_manage_experiment_subscribe.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(ci): add scheduled job to detect stale node digest pins (Closes #1710)
  .github/workflows/digest-check.yml
Due: none

feat(config): add FailureSpec customization via ExperimentConfig
  src/scylla/e2e/models.py
Due: check-shell-injection

feat(build): automate version bump with bump2version and justfile recipes
  .bumpversion.cfg
  justfile
  pixi.lock
  pixi.toml
Due: none

feat(agamemnon): add Protocol types for sync and async clients
  src/scylla/agamemnon/__init__.py
  src/scylla/agamemnon/client.py
  src/scylla/agamemnon/errors.py
  src/scylla/agamemnon/models.py
  src/scylla/agamemnon/protocols.py
  tests/unit/agamemnon/__init__.py
  tests/unit/agamemnon/test_protocols.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(nats): use asyncio.wait for concurrent multi-subject polling
  src/scylla/nats/subscriber.py
  tests/unit/nats/test_subscribe_multi.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): break circular import by extracting shutdown coordination to shutdown.py
  src/scylla/e2e/experiment_state_machine.py
  src/scylla/e2e/parallel_executor.py
  src/scylla/e2e/parallel_tier_runner.py
  src/scylla/e2e/rate_limit.py
  src/scylla/e2e/runner.py
  src/scylla/e2e/shutdown.py
  src/scylla/e2e/stages.py
  src/scylla/e2e/state_machine.py
  src/scylla/e2e/subtest_state_machine.py
  src/scylla/e2e/tier_state_machine.py
Due: check-shell-injection

feat(nats): wire NATS event handlers to EvalOrchestrator
  src/scylla/nats/__init__.py
  src/scylla/nats/handlers.py
  tests/unit/nats/test_handlers.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

Path conditions:
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  mypy-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  check-type-alias-shadowing: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$ and not (^tests/test_check_type_alias_shadowing\.py$)
  validate-model-configs: any of: ^config/models/.*\.yaml$
  check-model-config-consistency: any of: ^config/models/.*\.yaml$
