Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

ruff-format-python:
  name: Ruff Format Python
  description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
  entry: pixi run ruff format scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

ruff-check-python:
  name: Ruff Check Python
  description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
  entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

validate-test-coverage:
  name: Validate Test Coverage
  description: Ensure all test_*.mojo files are covered by CI matrix
  entry: python3 scripts/validate_test_coverage.py
  language: system
  pass_filenames: false

fix(e2e): propagate is_valid through judge pipeline
  scylla/e2e/models.py
  scylla/e2e/rerun_judges.py
  scylla/e2e/subtest_executor.py
  tests/unit/e2e/test_models.py
  tests/unit/e2e/test_rerun_judges.py
  tests/unit/e2e/test_subtest_executor.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(e2e): unify validity checks, validate score field, filter invalid judges
  scylla/e2e/llm_judge.py
  scylla/e2e/regenerate.py
  scylla/e2e/rerun_judges.py
  scylla/e2e/subtest_executor.py
  tests/unit/e2e/test_rerun_judges.py
  tests/unit/e2e/test_subtest_executor.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

docs(e2e): remove heuristic fallback reference from JudgeResultSummary
  scylla/e2e/models.py
Due: check-shell-injection

feat(skills): add unify-judge-validity-logic debugging skill
  .claude-plugin/skills/unify-judge-validity-logic/SKILL.md
  .claude-plugin/skills/unify-judge-validity-logic/metadata.json
  .claude-plugin/skills/unify-judge-validity-logic/references/notes.md
Due: none

docs(audit): code quality audit - remove Mojo claims, add known-issue comments
  CLAUDE.md
  scylla/adapters/cline.py
  scylla/adapters/openai_codex.py
  scylla/adapters/opencode.py
  scylla/e2e/subtest_executor.py
Due: check-shell-injection

docs(audit): add comprehensive audit report
  docs/dev/code-quality-audit-2025-02.md
Due: none

test(config): add tests for pricing and models modules for #483
  tests/unit/config/__init__.py
  tests/unit/config/test_models.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(pricing): consolidate calculate_cost() to single implementation for #490
  scylla/adapters/base.py
  scylla/metrics/token_tracking.py
  tests/unit/metrics/test_token_tracking.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

test(core,discovery): add comprehensive test coverage for #480
  tests/unit/core/__init__.py
  tests/unit/core/test_results.py
  tests/unit/discovery/__init__.py
  tests/unit/discovery/test_agents.py
  tests/unit/discovery/test_blocks.py
  tests/unit/discovery/test_skills.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(analysis): save CSV data for fig08_cost_quality_pareto, fix integration test
  scylla/analysis/figures/cost_analysis.py
  tests/unit/analysis/test_integration.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): add parallel worktree workflow and code quality audit skills
  .claude-plugin/skills/code-quality-audit-principles/SKILL.md
  .claude-plugin/skills/code-quality-audit-principles/plugin.json
  .claude-plugin/skills/parallel-worktree-workflow/SKILL.md
  .claude-plugin/skills/parallel-worktree-workflow/plugin.json
Due: none

fix(e2e): reuse saved judge_prompt.md in regenerate.py
  scylla/e2e/regenerate.py
Due: check-shell-injection

docs: remove -e analysis flag from pixi commands
  CLAUDE.md
  README.md
  docs/design/analysis_pipeline.md
  scylla/analysis/CONFIG_README.md
Due: none

fix(automation): resolve critical bugs and optimize issue automation
  .gitignore
  scripts/implement_issues.py
  scripts/plan_issues.py
  scylla/__init__.py
  scylla/automation/__init__.py
  scylla/automation/curses_ui.py
  scylla/automation/dependency_resolver.py
  scylla/automation/git_utils.py
  scylla/automation/github_api.py
  scylla/automation/implementer.py
  scylla/automation/models.py
  scylla/automation/planner.py
  scylla/automation/prompts.py
  scylla/automation/rate_limit.py
  scylla/automation/status_tracker.py
  scylla/automation/worktree_manager.py
  tests/unit/automation/__init__.py
  tests/unit/automation/test_dependency_resolver.py
  tests/unit/automation/test_git_utils.py
  tests/unit/automation/test_github_api.py
  tests/unit/automation/test_models.py
  tests/unit/automation/test_rate_limit.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(automation): resolve critical bugs and optimize issue automation
  scripts/implement_issues.py
  scripts/plan_issues.py
  scylla/automation/curses_ui.py
  scylla/automation/dependency_resolver.py
  scylla/automation/github_api.py
  scylla/automation/implementer.py
  scylla/automation/models.py
  scylla/automation/prompts.py
  scylla/automation/rate_limit.py
  scylla/automation/worktree_manager.py
  tests/unit/automation/test_git_utils.py
  tests/unit/automation/test_github_api.py
  tests/unit/automation/test_models.py
  tests/unit/automation/test_rate_limit.py
  tests/unit/automation/test_status_tracker.py
  tests/unit/automation/test_worktree_manager.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

docs: add links for development philosophy
  CLAUDE.md
Due: none

feat(scripts): add foundation utilities and retry decorator
  scripts/common.py
  scripts/validation.py
  scylla/automation/__init__.py
  scylla/automation/retry.py
  tests/unit/automation/test_retry.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(scripts): add agent management tools (PR 2/5)
  scripts/agents/__init__.py
  scripts/agents/agent_stats.py
  scripts/agents/agent_utils.py
  scripts/agents/check_frontmatter.py
  scripts/agents/list_agents.py
  scripts/agents/test_agent_loading.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(scripts): add markdown and documentation tools (PR 3/5)
  scripts/check_readmes.py
  scripts/fix_markdown.py
  scripts/validate_links.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(scripts): add git and GitHub tools (PR 4/5)
  scripts/generate_changelog.py
  scripts/get_stats.py
  scripts/merge_prs.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(scripts): add config and coverage tools (PR 5/5)
  scripts/agents/validate_agents.py
  scripts/check_coverage.py
  scripts/lint_configs.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

Path conditions:
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  validate-test-coverage: any of: (test_.*\.mojo|comprehensive-tests\.yml)$
