Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing, validate-model-configs, check-model-config-consistency

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

ruff-format-python:
  name: Ruff Format Python
  description: Format Python files in scripts/, scylla/, tests/, and all subdirectories using pixi run ruff format
  entry: pixi run ruff format scripts/ scylla/ tests/
  language: system
  pass_filenames: false

ruff-check-python:
  name: Ruff Check Python
  description: Lint Python files in scripts/, scylla/, tests/, and all subdirectories using pixi run ruff check
  entry: pixi run ruff check --fix scripts/ scylla/ tests/
  language: system
  pass_filenames: false

mypy-check-python:
  name: Mypy Type Check Python
  description: Type check Python files in scripts/, scylla/, tests/ using pixi run mypy. See MYPY_KNOWN_ISSUES.md for current state.
  entry: pixi run mypy scripts/ scylla/ tests/
  language: system
  pass_filenames: false

check-type-alias-shadowing:
  name: Check Type Alias Shadowing
  description: Prevent type aliases that shadow more specific domain names (e.g., Result = DomainResult)
  entry: python scripts/check_type_alias_shadowing.py
  language: system
  pass_filenames: true

validate-model-configs:
  name: Validate Model Config Naming
  description: Ensure model config filenames match the model_id and required fields are present
  entry: pixi run python scripts/validate_model_configs.py
  language: system
  pass_filenames: false

check-model-config-consistency:
  name: Check Model Config Filename/model_id Consistency
  description: Fails if any config/models/*.yaml filename does not match its model_id field (uses scylla.config.validation)
  entry: pixi run python scripts/check_model_config_consistency.py
  language: system
  pass_filenames: false

fix(resilience): remove max_delay kwarg not in hephaestus.utils.retry v0.6.0
  src/scylla/core/resilience.py
Due: check-shell-injection

fix(deps): switch hephaestus from path dep to PyPI >=0.6.0 and regenerate lock
  pixi.lock
  pixi.toml
  pyproject.toml
Due: none

fix(deps): resolve pre-commit failures from unpublished hephaestus >=0.6.0
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
  pyproject.toml
  scripts/check_package_version_consistency.py
  scripts/fix_markdown.py
  src/scylla/core/resilience.py
  tests/unit/scripts/test_check_docstring_fragments.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

refactor(scripts): replace ported scripts with hephaestus thin wrappers
  pyproject.toml
  scripts/audit_doc_examples.py
  scripts/check_changelog_version.py
  scripts/check_coverage.py
  scripts/check_docstring_fragments.py
  scripts/check_readmes.py
  scripts/check_tier_label_consistency.py
  scripts/fix_markdown.py
  src/scylla/core/resilience.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

refactor(scripts): strip re-exports, tests import hephaestus directly
  scripts/audit_doc_examples.py
  scripts/check_changelog_version.py
  scripts/check_coverage.py
  scripts/check_docstring_fragments.py
  scripts/check_readmes.py
  scripts/check_tier_label_consistency.py
  scripts/fix_markdown.py
  tests/unit/scripts/test_audit_doc_examples.py
  tests/unit/scripts/test_check_changelog_version.py
  tests/unit/scripts/test_check_coverage.py
  tests/unit/scripts/test_check_docstring_fragments.py
  tests/unit/scripts/test_check_readmes.py
  tests/unit/scripts/test_check_tier_label_consistency.py
  tests/unit/scripts/test_fix_markdown.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(resilience): remove max_delay param not in hephaestus v0.6.0, drop stale script tests
  tests/unit/scripts/test_implement_issues.py
  tests/unit/scripts/test_plan_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

ci: ensure CI runs on latest commit
  scripts/implement_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

refactor(automation): remove scylla.automation, delegate to hephaestus.automation
  scripts/common.py
  scripts/implement_issues.py
  scripts/plan_issues.py
  src/scylla/automation/__init__.py
  src/scylla/automation/curses_ui.py
  src/scylla/automation/dependency_resolver.py
  src/scylla/automation/follow_up.py
  src/scylla/automation/git_utils.py
  src/scylla/automation/github_api.py
  src/scylla/automation/implementer.py
  src/scylla/automation/learn.py
  src/scylla/automation/models.py
  src/scylla/automation/planner.py
  src/scylla/automation/pr_manager.py
  src/scylla/automation/prompts.py
  src/scylla/automation/rate_limit.py
  src/scylla/automation/retry.py
  src/scylla/automation/reviewer.py
  src/scylla/automation/status_tracker.py
  src/scylla/automation/worktree_manager.py
  tests/unit/automation/__init__.py
  tests/unit/automation/test_curses_ui.py
  tests/unit/automation/test_dependency_resolver.py
  tests/unit/automation/test_follow_up.py
  tests/unit/automation/test_git_utils.py
  tests/unit/automation/test_github_api.py
  tests/unit/automation/test_github_api_errors.py
  tests/unit/automation/test_implementer.py
  tests/unit/automation/test_learn.py
  tests/unit/automation/test_models.py
  tests/unit/automation/test_planner.py
  tests/unit/automation/test_pr_manager.py
  tests/unit/automation/test_prompts.py
  tests/unit/automation/test_rate_limit.py
  tests/unit/automation/test_retry.py
  tests/unit/automation/test_reviewer.py
  tests/unit/automation/test_status_tracker.py
  tests/unit/automation/test_worktree_manager.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

style: apply ruff formatting to thin wrapper scripts
  scripts/implement_issues.py
  scripts/plan_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

style: fix trailing newline in implement_issues.py
  scripts/implement_issues.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

refactor(core): migrate circuit_breaker imports to hephaestus.resilience
  src/scylla/adapters/claude_code.py
  src/scylla/core/__init__.py
  src/scylla/core/circuit_breaker.py
  src/scylla/core/resilience.py
  src/scylla/e2e/llm_judge.py
Due: check-shell-injection

style: apply ruff formatting to circuit_breaker shim
  src/scylla/core/circuit_breaker.py
Due: check-shell-injection

style: apply ruff import formatting fixes (pre-commit)
  src/scylla/adapters/claude_code.py
  src/scylla/core/__init__.py
  src/scylla/e2e/llm_judge.py
Due: check-shell-injection

fix(scripts): resolve ShellCheck warnings in run_haiku_experiment.sh
  scripts/run_haiku_experiment.sh
Due: none

feat(scripts): add 3-stage haiku paper experiment runner
  scripts/run_haiku_experiment.sh
Due: none

fix(e2e): decode bytes stdout/stderr in _save_judge_failure for TimeoutExpired
  src/scylla/e2e/stage_finalization.py
  tests/unit/e2e/test_stage_finalization.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): don't reset promoted_to_completed runs on Stage 3 resume
  scripts/manage_experiment.py
  src/scylla/e2e/paths.py
  tests/unit/e2e/test_manage_experiment_run.py
  tests/unit/e2e/test_stage_commit_agent_changes.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): detect rate limit on judge exit code 1 before raising RuntimeError
  src/scylla/e2e/llm_judge.py
  tests/unit/e2e/test_llm_judge.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): apply ruff import formatting for rate limit detection
  src/scylla/e2e/llm_judge.py
Due: check-shell-injection

fix(docker): upgrade claude-code to 2.1.91 and patch 11 Trivy HIGH CVEs
  docker/Dockerfile
Due: none

fix(e2e): extract rate limit helpers to reduce complexity (C901)
  src/scylla/e2e/llm_judge.py
Due: check-shell-injection

Path conditions:
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  mypy-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  check-type-alias-shadowing: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$ and not (^tests/test_check_type_alias_shadowing\.py$)
  validate-model-configs: any of: ^config/models/.*\.yaml$
  check-model-config-consistency: any of: ^config/models/.*\.yaml$
