Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing, validate-model-configs, check-model-config-consistency

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

ruff-format-python:
  name: Ruff Format Python
  description: Format Python files in scripts/, scylla/, tests/, and all subdirectories using pixi run ruff format
  entry: pixi run ruff format scripts/ scylla/ tests/
  language: system
  pass_filenames: false

ruff-check-python:
  name: Ruff Check Python
  description: Lint Python files in scripts/, scylla/, tests/, and all subdirectories using pixi run ruff check
  entry: pixi run ruff check --fix scripts/ scylla/ tests/
  language: system
  pass_filenames: false

mypy-check-python:
  name: Mypy Type Check Python
  description: Type check Python files in scripts/, scylla/, tests/ using pixi run mypy. See MYPY_KNOWN_ISSUES.md for current state.
  entry: pixi run mypy scripts/ scylla/ tests/
  language: system
  pass_filenames: false

check-type-alias-shadowing:
  name: Check Type Alias Shadowing
  description: Prevent type aliases that shadow more specific domain names (e.g., Result = DomainResult)
  entry: python scripts/check_type_alias_shadowing.py
  language: system
  pass_filenames: true

validate-model-configs:
  name: Validate Model Config Naming
  description: Ensure model config filenames match the model_id and required fields are present
  entry: pixi run python scripts/validate_model_configs.py
  language: system
  pass_filenames: false

check-model-config-consistency:
  name: Check Model Config Filename/model_id Consistency
  description: Fails if any config/models/*.yaml filename does not match its model_id field (uses scylla.config.validation)
  entry: pixi run python scripts/check_model_config_consistency.py
  language: system
  pass_filenames: false

feat(reporting): add HTML report format for scylla report command
  src/scylla/cli/main.py
  src/scylla/reporting/__init__.py
  src/scylla/reporting/html_report.py
  tests/unit/reporting/test_html_report.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(cli): add progress module and CLI tests for unified CLI module
  src/scylla/cli/progress.py
  src/scylla/e2e/progress.py
  tests/unit/cli/test_cli.py
  tests/unit/cli/test_progress.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(cli): extract _load_report_data() for full ReportData population
  src/scylla/cli/main.py
  tests/unit/cli/test_load_report_data.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

refactor(e2e): remove backward-compat re-export shims from llm_judge and subtest_executor
  src/scylla/e2e/__init__.py
  src/scylla/e2e/experiment_setup_manager.py
  src/scylla/e2e/judge_runner.py
  src/scylla/e2e/llm_judge.py
  src/scylla/e2e/regenerate.py
  src/scylla/e2e/rerun_judges.py
  src/scylla/e2e/stage_finalization.py
  src/scylla/e2e/stages.py
  src/scylla/e2e/subtest_executor.py
  src/scylla/e2e/tier_action_builder.py
  tests/unit/e2e/test_baseline_regression.py
  tests/unit/e2e/test_experiment_setup_manager.py
  tests/unit/e2e/test_llm_judge.py
  tests/unit/e2e/test_parallel_rate_limit_handling.py
  tests/unit/e2e/test_rate_limit_recovery.py
  tests/unit/e2e/test_stages.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(build): automate version bump with bump2version and justfile recipes
  .bumpversion.cfg
  justfile
  pixi.lock
  pixi.toml
Due: none

feat(agamemnon): add Protocol types for sync and async clients
  src/scylla/agamemnon/__init__.py
  src/scylla/agamemnon/client.py
  src/scylla/agamemnon/errors.py
  src/scylla/agamemnon/models.py
  src/scylla/agamemnon/protocols.py
  tests/unit/agamemnon/__init__.py
  tests/unit/agamemnon/test_protocols.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(nats): use asyncio.wait for concurrent multi-subject polling
  src/scylla/nats/subscriber.py
  tests/unit/nats/test_subscribe_multi.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(nats): wire NATS event handlers to EvalOrchestrator
  src/scylla/nats/__init__.py
  src/scylla/nats/handlers.py
  tests/unit/nats/test_handlers.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(tests): update mock patch targets from runner to shutdown module
  tests/unit/e2e/test_parallel_executor.py
  tests/unit/e2e/test_parallel_tier_runner.py
  tests/unit/e2e/test_rate_limit.py
  tests/unit/e2e/test_stages.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): break circular import by extracting shutdown coordination to shutdown.py
  src/scylla/e2e/experiment_state_machine.py
  src/scylla/e2e/parallel_executor.py
  src/scylla/e2e/parallel_tier_runner.py
  src/scylla/e2e/rate_limit.py
  src/scylla/e2e/runner.py
  src/scylla/e2e/shutdown.py
  src/scylla/e2e/stages.py
  src/scylla/e2e/state_machine.py
  src/scylla/e2e/subtest_state_machine.py
  src/scylla/e2e/tier_state_machine.py
Due: check-shell-injection

feat(e2e): wire AsyncAgamemnonClient into parallel tier executor
  src/scylla/adapters/agamemnon_client.py
  src/scylla/e2e/models.py
  src/scylla/e2e/parallel_executor.py
  tests/unit/adapters/test_agamemnon_client.py
  tests/unit/e2e/test_parallel_executor.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(nats): handle partial subscription failure with cleanup
  src/scylla/nats/subscriber.py
  tests/unit/nats/test_subscribe_multi.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(nats): reduce _subscribe_loop complexity by extracting helper methods
  src/scylla/nats/subscriber.py
Due: check-shell-injection

feat(agamemnon): add sync and async Agamemnon Chaos Client
  src/scylla/agamemnon/__init__.py
  src/scylla/agamemnon/_retry.py
  src/scylla/agamemnon/async_client.py
  src/scylla/agamemnon/errors.py
  src/scylla/agamemnon/models.py
  tests/unit/agamemnon/test_async_client.py
  tests/unit/agamemnon/test_client.py
  tests/unit/agamemnon/test_models.py
  tests/unit/agamemnon/test_retry.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(agamemnon): add get_diagnostics to AsyncAgamemnonClient
  src/scylla/agamemnon/async_client.py
Due: check-shell-injection

fix(e2e): make validate_model retry params actually configurable
  src/scylla/e2e/model_validation.py
Due: check-shell-injection

chore(ci): add unified required-checks workflow
  .github/workflows/_required.yml
Due: none

fix(ci): use valid job IDs in _required.yml (no slashes in keys)
  .github/workflows/_required.yml
Due: none

chore(deps): Bump aquasecurity/trivy-action from 0.35.0 to 0.36.0
  .github/workflows/ci-image.yml
  .github/workflows/docker-test.yml
Due: none

ci: merge typecheck steps into lint job
  .github/workflows/_required.yml
Due: none

feat(ci): add markdownlint/pixi/justfile/symlink jobs + fix lint blockers
  .github/workflows/_required.yml
  .markdownlint.yaml
  .yamllint.yaml
  scripts/check-symlinks.sh
Due: none

fix(ci): fix yamllint braces spacing in test.yml matrix definition
  .github/workflows/test.yml
Due: none

style: apply ruff format and fix end-of-file
  src/scylla/analysis/tables/summary.py
Due: check-shell-injection

fix(analysis): use pd.notna() for NaN checks in table generators
  src/scylla/analysis/tables/comparison.py
  src/scylla/analysis/tables/detail.py
  src/scylla/analysis/tables/summary.py
Due: check-shell-injection

chore: regenerate pixi.lock for hatchling>=1.29.0 pyproject.toml change
  pixi.lock
Due: none

Path conditions:
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  mypy-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  check-type-alias-shadowing: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$ and not (^tests/test_check_type_alias_shadowing\.py$)
  validate-model-configs: any of: ^config/models/.*\.yaml$
  check-model-config-consistency: any of: ^config/models/.*\.yaml$
