Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:

  # Security checks
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]

  # Python formatting and linting
  - repo: local
    hooks:
      - id: ruff-format-python
        name: Ruff Format Python
        description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
        entry: pixi run ruff format scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false
      - id: ruff-check-python
        name: Ruff Check Python
        description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
        entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false

  # Test coverage validation
  - repo: local
    hooks:
      - id: validate-test-coverage
        name: Validate Test Coverage
        description: Ensure all test_*.mojo files are covered by CI matrix
        entry: python3 scripts/validate_test_coverage.py
        language: system
        files: (test_.*\.mojo|comprehensive-tests\.yml)$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # Jupyter notebook output stripping
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        name: Strip Notebook Outputs
        description: Remove outputs from Jupyter notebooks before commit
        files: \.ipynb$
        args: ['--extra-keys', 'metadata.kernelspec']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

refactor(judge): Remove deprecated fallback field compatibility
  .claude-plugin/skills/judge-rerun-workspace-corruption/plugin.json
  .claude-plugin/skills/unify-judge-validity-logic/SKILL.md
  scylla/analysis/loader.py
  scylla/e2e/regenerate.py
  scylla/e2e/rerun_judges.py
  scylla/e2e/subtest_executor.py
  tests/unit/analysis/test_dataframe_builders.py
  tests/unit/e2e/test_rerun_judges.py
  tests/unit/e2e/test_subtest_executor.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): Add backward-compat-removal skill
  .claude-plugin/skills/backward-compat-removal/SKILL.md
  .claude-plugin/skills/backward-compat-removal/plugin.json
  .claude-plugin/skills/backward-compat-removal/references/notes.md
Due: none

chore(docs): Remove deprecated skills and update README test badges
  README.md
  docs/arxiv/dryrun/raw/T6/01/run_01/workspace/.claude/agents/foundation-orchestrator.md
  docs/arxiv/dryrun/raw/T6/01/run_01/workspace/.claude/agents/papers-orchestrator.md
  docs/arxiv/dryrun/raw/T6/01/run_01/workspace/.claude/agents/shared-library-orchestrator.md
  docs/arxiv/dryrun/raw/T6/01/run_01/workspace/.claude/agents/tooling-orchestrator.md
  docs/arxiv/dryrun/raw/T6/01/run_01/workspace/.claude/skills/plan-create-component/SKILL.md
  docs/arxiv/dryrun/raw/T6/01/run_01/workspace/.claude/skills/plan-regenerate-issues/SKILL.md
  docs/arxiv/dryrun/raw/T6/01/run_01/workspace/.claude/skills/plan-regenerate-issues/scripts/regenerate_single_issue.sh
  docs/arxiv/dryrun/raw/T6/01/run_01/workspace/.claude/skills/plan-validate-structure/SKILL.md
  docs/arxiv/dryrun/raw/T6/01/run_01/workspace/.claude/skills/track-implementation-progress/SKILL.md
  docs/arxiv/dryrun/raw/T6/01/run_01/workspace/CLAUDE.md
  tests/claude-code/shared/agents/L1/foundation-orchestrator.md
  tests/claude-code/shared/agents/L1/papers-orchestrator.md
  tests/claude-code/shared/agents/L1/shared-library-orchestrator.md
  tests/claude-code/shared/agents/L1/tooling-orchestrator.md
  tests/claude-code/shared/blocks/B05-skill-delegation.md
  tests/claude-code/shared/skills/other/plan-create-component/SKILL.md
  tests/claude-code/shared/skills/other/plan-regenerate-issues/SKILL.md
  tests/claude-code/shared/skills/other/plan-regenerate-issues/scripts/regenerate_single_issue.sh
  tests/claude-code/shared/skills/other/plan-validate-structure/SKILL.md
  tests/claude-code/shared/skills/other/track-implementation-progress/SKILL.md
Due: none

feat(skills): Add python-subprocess-terminal-corruption debugging skill
  .claude-plugin/skills/python-subprocess-terminal-corruption/SKILL.md
  .claude-plugin/skills/python-subprocess-terminal-corruption/plugin.json
  .claude-plugin/skills/python-subprocess-terminal-corruption/references/notes.md
Due: none

refactor(adapters): Extract BaseCliAdapter to eliminate DRY violations
  scylla/adapters/__init__.py
  scylla/adapters/base_cli.py
  scylla/adapters/cline.py
  scylla/adapters/openai_codex.py
  scylla/adapters/opencode.py
  tests/unit/adapters/conftest.py
  tests/unit/adapters/test_base_cli_adapter.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(code-quality): Reduce deep nesting and resolve CLI TODOs
  scylla/cli/main.py
  scylla/judge/evaluator.py
  scylla/orchestrator.py
Due: check-shell-injection

refactor(reporting): Decompose long report generation functions
  scylla/analysis/tables/comparison.py
  scylla/e2e/run_report.py
Due: check-shell-injection

refactor(models): Migrate 19 dataclasses to Pydantic BaseModel
  scylla/e2e/checkpoint.py
  scylla/e2e/command_logger.py
  scylla/judge/parser.py
  scylla/reporting/result.py
  scylla/reporting/scorecard.py
  scylla/reporting/summary.py
  tests/unit/e2e/test_checkpoint.py
  tests/unit/e2e/test_command_logger.py
  tests/unit/e2e/test_judge_selection.py
  tests/unit/e2e/test_llm_judge.py
  tests/unit/e2e/test_models.py
  tests/unit/e2e/test_rate_limit_recovery.py
  tests/unit/e2e/test_resume.py
  tests/unit/judge/test_parser.py
  tests/unit/reporting/test_result.py
  tests/unit/reporting/test_scorecard.py
  tests/unit/reporting/test_summary.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(e2e): Decompose god class subtest_executor.py
  scylla/e2e/agent_runner.py
  scylla/e2e/judge_runner.py
  scylla/e2e/parallel_executor.py
  scylla/e2e/subtest_executor.py
  scylla/e2e/workspace_setup.py
  tests/unit/e2e/test_rate_limit_recovery.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(e2e): Consolidate rerun.py and rerun_judges.py shared patterns
  scylla/e2e/rerun.py
  scylla/e2e/rerun_base.py
  scylla/e2e/rerun_judges.py
  tests/unit/e2e/test_rerun_base.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(batch-runner): Fix crashes, terminal corruption, and improve UX
  scripts/run_e2e_batch.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): Add parallel issue resolution with git worktrees skill
  .claude-plugin/plugin.json
  .claude-plugin/skills/architecture/parallel-issue-resolution-with-worktrees/SKILL.md
  .claude-plugin/skills/architecture/parallel-issue-resolution-with-worktrees/references/notes.md
Due: none

fix(tests): Skip 3 pre-existing test failures to unblock merge
  tests/unit/analysis/test_tables.py.orig
  tests/unit/cli/test_cli.py.orig
  tests/unit/e2e/test_rerun.py.orig
Due: none

fix(tests): Account for optional credentials volume in container tests
  tests/unit/executor/test_agent_container.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(tests): Revert incorrect Pydantic model_dump() calls on dataclasses
  scylla/e2e/checkpoint.py
  tests/unit/e2e/test_judge_selection.py
  tests/unit/e2e/test_llm_judge.py
  tests/unit/e2e/test_models.py
  tests/unit/e2e/test_rate_limit_recovery.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

chore(tech-debt): Resolve remaining TODO/FIXME markers
  scylla/cli/main.py
  scylla/discovery/blocks.py
  scylla/e2e/judge_selection.py
  scylla/e2e/rerun.py
  scylla/e2e/tier_manager.py
  scylla/judge/runner.py
Due: check-shell-injection

fix: Resolve merge conflict in status command after rebase
  scylla/cli/main.py
Due: check-shell-injection

feat(skills): Add fix-incomplete-pydantic-migration skill
  .claude-plugin/skills/fix-incomplete-pydantic-migration/SKILL.md
  .claude-plugin/skills/fix-incomplete-pydantic-migration/plugin.json
  .claude-plugin/skills/fix-incomplete-pydantic-migration/references/notes.md
Due: none

refactor(e2e): Migrate all dataclasses to Pydantic BaseModel
  scylla/e2e/checkpoint.py
  scylla/e2e/judge_selection.py
  scylla/e2e/llm_judge.py
  scylla/e2e/models.py
  scylla/e2e/rate_limit.py
  scylla/e2e/regenerate.py
  scylla/e2e/rerun.py
  scylla/e2e/rerun_base.py
  scylla/e2e/rerun_judges.py
  tests/unit/e2e/test_judge_selection.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): Add migrate-dataclass-to-pydantic skill
  .claude-plugin/skills/migrate-dataclass-to-pydantic/SKILL.md
  .claude-plugin/skills/migrate-dataclass-to-pydantic/plugin.json
  .claude-plugin/skills/migrate-dataclass-to-pydantic/references/notes.md
Due: none
