Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

ruff-format-python:
  name: Ruff Format Python
  description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
  entry: pixi run ruff format scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

ruff-check-python:
  name: Ruff Check Python
  description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
  entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
  language: system
  pass_filenames: false

validate-test-coverage:
  name: Validate Test Coverage
  description: Ensure all test_*.mojo files are covered by CI matrix
  entry: python3 scripts/validate_test_coverage.py
  language: system
  pass_filenames: false

feat(skills): add verify-experiment-completion skill
  .claude-plugin/plugin.json
  .claude-plugin/skills/verify-experiment-completion/SKILL.md
  .claude-plugin/skills/verify-experiment-completion/references/notes.md
Due: none

feat(skills): add refactor-for-extensibility architecture skill
  .claude-plugin/skills/refactor-for-extensibility/SKILL.md
  .claude-plugin/skills/refactor-for-extensibility/plugin.json
  .claude-plugin/skills/refactor-for-extensibility/references/notes.md
Due: none

refactor(scripts): consolidate Docker setup into shared library
  scripts/docker_common.sh
  scripts/launch_container_shell.sh
  scripts/run_experiment_in_container.sh
Due: none

refactor(scripts): delete extracted and one-time migration scripts
  scripts/add_test_docstrings.py
  scripts/extract_blocks.py
  scripts/migrate_t0_to_blocks.py
  scripts/migrate_to_symlinks.py
  scripts/organize_agents.py
  scripts/organize_skills.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

docs(scripts): add recovery script reference documentation
  scripts/README.md
  scripts/regenerate_agent_results.py
  scripts/regenerate_results.py
  scripts/repair_checkpoint.py
  scripts/rerun_agents.py
  scripts/rerun_judges.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(e2e): add TestFixture dataclass and ExperimentConfig grading paths
  scripts/run_e2e_experiment.py
  scylla/e2e/models.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

chore: cleanup and fix main.tex issues with conversion
  docs/paper-dryrun-arxiv/main.tex
  docs/paper-dryrun-arxiv/tables/tab04_criteria_performance.tex
  docs/paper.md
  docs/research_paper.tex
Due: none

fix(arxiv): protect manual edits to main.tex
  docs/arxiv-submission.md
  scripts/build_arxiv_paper.py
  scripts/build_arxiv_submission.sh
  scripts/regenerate_main_tex.sh
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(scripts): wrap long line in regenerate_results docstring
  scripts/regenerate_results.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(e2e): shorten long docstring lines and remove unused variable
  scripts/run_e2e_experiment.py
  scylla/e2e/models.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(discovery): add blank lines before closing docstring delimiters in agents.py
  scylla/discovery/agents.py
Due: check-shell-injection

fix(discovery): add blank lines before closing docstring delimiters
  scylla/discovery/blocks.py
  scylla/discovery/skills.py
Due: check-shell-injection

feat(discovery): extract resource discovery logic into library
  scylla/discovery/__init__.py
  scylla/discovery/agents.py
  scylla/discovery/blocks.py
  scylla/discovery/skills.py
Due: check-shell-injection

fix(e2e): add Protocol docstring and remove unused tier_dir variables
  scylla/e2e/subtest_provider.py
  tests/unit/e2e/test_tier_manager.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(e2e): use _get_shared_dir() method in TierManager constructor and fix lint
  scylla/e2e/subtest_provider.py
  scylla/e2e/tier_manager.py
Due: check-shell-injection

refactor(e2e): extract SubtestProvider interface and parameterize TierManager
  scylla/e2e/subtest_provider.py
  scylla/e2e/tier_manager.py
Due: check-shell-injection

fix(tests): update tier_manager tests to use new SubtestProvider API
  tests/unit/e2e/test_tier_manager.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

style(e2e): apply ruff formatting to subtest_provider.py
  scylla/e2e/subtest_provider.py
Due: check-shell-injection

fix(tests): replace remaining _discover_subtests calls with SubtestProvider API
  tests/unit/e2e/test_tier_manager.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): add rescue-broken-prs skill from session learnings
  .claude-plugin/plugin.json
  .claude-plugin/skills/rescue-broken-prs/SKILL.md
  .claude-plugin/skills/rescue-broken-prs/references/notes.md
Due: none

feat(paper): establish paper.tex as source of truth with dynamic figure scaling
  docs/paper-dryrun-arxiv/tables/tab04_criteria_performance.tex
  docs/paper.tex
  scripts/build_arxiv_paper.py
  scripts/build_arxiv_submission.sh
  scripts/generate_figures.py
  scripts/regenerate_main_tex.sh
  scripts/verify_paper_alignment.py
  scylla/analysis/figures/correlation.py
  scylla/analysis/figures/cost_analysis.py
  scylla/analysis/figures/criteria_analysis.py
  scylla/analysis/figures/impl_rate_analysis.py
  scylla/analysis/figures/judge_analysis.py
  scylla/analysis/figures/model_comparison.py
  scylla/analysis/figures/spec_builder.py
  scylla/analysis/figures/tier_performance.py
  scylla/analysis/figures/variance.py
  tests/unit/analysis/test_figures.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

docs(paper): integrate improvements from colleague review
  docs/paper.md
Due: none

Path conditions:
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|examples|tests|tools)/.*\.py$ and \.py$
  validate-test-coverage: any of: (test_.*\.mojo|comprehensive-tests\.yml)$
