Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, validate-test-coverage

.pre-commit-config.yaml:

# Pre-commit hooks for ML Odyssey
# See https://pre-commit.com for more information

repos:

  # Security checks
  - repo: local
    hooks:
      - id: check-shell-injection
        name: Check for shell=True (Security)
        description: Prevent command injection vulnerabilities via shell=True
        entry: 'shell=True'
        language: pygrep
        files: \.py$
        types: [python]

  # Python formatting and linting
  - repo: local
    hooks:
      - id: ruff-format-python
        name: Ruff Format Python
        description: Format Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff format
        entry: pixi run ruff format scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false
      - id: ruff-check-python
        name: Ruff Check Python
        description: Lint Python files in scripts/, examples/, tests/, tools/ and all subdirectories using pixi run ruff check
        entry: pixi run ruff check --fix scripts/ examples/ tests/ tools/
        language: system
        files: ^(scripts|examples|tests|tools)/.*\.py$
        types: [python]
        pass_filenames: false

  # Test coverage validation
  - repo: local
    hooks:
      - id: validate-test-coverage
        name: Validate Test Coverage
        description: Ensure all test_*.mojo files are covered by CI matrix
        entry: python3 scripts/validate_test_coverage.py
        language: system
        files: (test_.*\.mojo|comprehensive-tests\.yml)$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: Markdown Lint
        description: Lint markdown files for consistency
        exclude: ^notes/(plan|issues|review|blog)/
        args: ['--config', '.markdownlint.json']

  # Jupyter notebook output stripping
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        name: Strip Notebook Outputs
        description: Remove outputs from Jupyter notebooks before commit
        files: \.ipynb$
        args: ['--extra-keys', 'metadata.kernelspec']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        exclude: ^notes/(plan|review|issues)/
      - id: end-of-file-fixer
        name: Fix End of Files
        exclude: ^notes/(plan|review|issues)/
      - id: check-yaml
        name: Check YAML
      - id: check-added-large-files
        name: Check for Large Files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        name: Fix Mixed Line Endings
        exclude: ^notes/(plan|review|issues)/

feat: add script to build paper and fix warnings
  docs/research_paper.tex
  scripts/build_paper.sh
Due: none

fix: properly initialize pixi environment in CI/CD - Add pixi install to pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

fix: make sure corrent parent path is selected
  scylla/e2e/tier_manager.py
  scylla/judge/prompts.py
  tests/unit/executor/test_tier_config.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

chore: make sure authors are correct
  .claude/shared/error-handling.md
  agents/delegation-rules.md
  pyproject.toml
Due: none

fix: enable pixi w/ CI/CD
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

docs: rewrite the paper and clean it up
  docs/paper.md
Due: none

docs: add dryrun data and figures
  .gitignore
  .pre-commit-config.yaml
  docs/dryrun-analysis.tar.gz
  docs/dryrun-data.tar.gz
Due: none

fix: directions for running is incorrect
  docs/paper.md
Due: none

docs: improve paper tone and fix errors
  docs/dryrun-data.tar.gz
  docs/paper.md
  docs/summary.md
Due: none

feat(skills): add dryrun-validation workflow
  .claude-plugin/skills/dryrun-validation/SKILL.md
  .claude-plugin/skills/dryrun-validation/plugin.json
  .claude-plugin/skills/dryrun-validation/references/notes.md
Due: none

feat(skills): add academic-paper-review skill
  .claude-plugin/skills/academic-paper-review/SKILL.md
  .claude-plugin/skills/academic-paper-review/references/notes.md
  .claude-plugin/skills/academic-paper-review/skill.json
Due: none

feat(t4): add agent teams sub-tests to T4 hierarchy tier
  CLAUDE.md
  config/tiers/tiers.yaml
  scripts/run_e2e_experiment.py
  scylla/e2e/models.py
  scylla/e2e/runner.py
  scylla/e2e/tier_manager.py
  tests/claude-code/shared/subtests/t4/08-chief-architect-teams.yaml
  tests/claude-code/shared/subtests/t4/09-agentic-workflows-orchestrator-teams.yaml
  tests/claude-code/shared/subtests/t4/10-cicd-orchestrator-teams.yaml
  tests/claude-code/shared/subtests/t4/11-foundation-orchestrator-teams.yaml
  tests/claude-code/shared/subtests/t4/12-papers-orchestrator-teams.yaml
  tests/claude-code/shared/subtests/t4/13-shared-library-orchestrator-teams.yaml
  tests/claude-code/shared/subtests/t4/14-tooling-orchestrator-teams.yaml
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): add experimental-feature-subtests skill
  .claude-plugin/skills/experimental-feature-subtests/SKILL.md
  .claude-plugin/skills/experimental-feature-subtests/plugin.json
  .claude-plugin/skills/experimental-feature-subtests/references/notes.md
Due: none

fix(e2e): propagate system_prompt_mode from subtest YAML to command building
  scylla/e2e/models.py
  scylla/e2e/subtest_executor.py
  scylla/e2e/tier_manager.py
  tests/unit/e2e/test_models.py
  tests/unit/e2e/test_tier_manager.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): add fix-yaml-config-propagation debugging skill
  .claude-plugin/skills/fix-yaml-config-propagation/SKILL.md
  .claude-plugin/skills/fix-yaml-config-propagation/references/notes.md
  .claude-plugin/skills/fix-yaml-config-propagation/skill.json
Due: none

refactor(e2e): remove duplicate system_prompt_mode from TierConfig
  scylla/e2e/models.py
  scylla/e2e/runner.py
  scylla/e2e/subtest_executor.py
  scylla/e2e/tier_manager.py
  tests/unit/e2e/test_models.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

fix(env): merge analysis environment into default
  .github/workflows/test.yml
  pixi.lock
  pixi.toml
Due: none

test(figures): remove mocks and use real file I/O
  tests/unit/analysis/conftest.py
  tests/unit/analysis/test_figures.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

feat(skills): add pytest-real-io-testing skill
  .claude-plugin/skills/pytest-real-io-testing/SKILL.md
  .claude-plugin/skills/pytest-real-io-testing/plugin.json
  .claude-plugin/skills/pytest-real-io-testing/references/notes.md
Due: none

refactor(scripts): delete extracted and one-time migration scripts
  scripts/add_test_docstrings.py
  scripts/extract_blocks.py
  scripts/migrate_t0_to_blocks.py
  scripts/migrate_to_symlinks.py
  scripts/organize_agents.py
  scripts/organize_skills.py
Due: check-shell-injection, ruff-format-python, ruff-check-python

refactor(scripts): consolidate Docker setup into shared library
  scripts/docker_common.sh
  scripts/launch_container_shell.sh
  scripts/run_experiment_in_container.sh
Due: none

fix(e2e): correct parameter names and function calls in regenerate_results
  scylla/e2e/regenerate.py
Due: check-shell-injection

feat(skills): add refactor-for-extensibility architecture skill
  .claude-plugin/skills/refactor-for-extensibility/SKILL.md
  .claude-plugin/skills/refactor-for-extensibility/plugin.json
  .claude-plugin/skills/refactor-for-extensibility/references/notes.md
Due: none

feat(skills): add verify-experiment-completion skill
  .claude-plugin/plugin.json
  .claude-plugin/skills/verify-experiment-completion/SKILL.md
  .claude-plugin/skills/verify-experiment-completion/references/notes.md
Due: none

docs(paper): integrate improvements from colleague review
  docs/paper.md
Due: none
