Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing, validate-model-configs, check-model-config-consistency

check-shell-injection:
  name: Check for shell=True (Security)
  description: Prevent command injection vulnerabilities via shell=True
  entry: shell=True
  language: pygrep

ruff-format-python:
  name: Ruff Format Python
  description: Format Python files in scripts/, scylla/, tests/, and all subdirectories using pixi run ruff format
  entry: pixi run ruff format scripts/ scylla/ tests/
  language: system
  pass_filenames: false

ruff-check-python:
  name: Ruff Check Python
  description: Lint Python files in scripts/, scylla/, tests/, and all subdirectories using pixi run ruff check
  entry: pixi run ruff check --fix scripts/ scylla/ tests/
  language: system
  pass_filenames: false

mypy-check-python:
  name: Mypy Type Check Python
  description: Type check Python files in scripts/, scylla/, tests/ using pixi run mypy. See MYPY_KNOWN_ISSUES.md for current state.
  entry: pixi run mypy scripts/ scylla/ tests/
  language: system
  pass_filenames: false

check-type-alias-shadowing:
  name: Check Type Alias Shadowing
  description: Prevent type aliases that shadow more specific domain names (e.g., Result = DomainResult)
  entry: python scripts/check_type_alias_shadowing.py
  language: system
  pass_filenames: true

validate-model-configs:
  name: Validate Model Config Naming
  description: Ensure model config filenames match the model_id and required fields are present
  entry: pixi run python scripts/validate_model_configs.py
  language: system
  pass_filenames: false

check-model-config-consistency:
  name: Check Model Config Filename/model_id Consistency
  description: Fails if any config/models/*.yaml filename does not match its model_id field (uses scylla.config.validation)
  entry: pixi run python scripts/check_model_config_consistency.py
  language: system
  pass_filenames: false

chore: regenerate pixi.lock for pre-commit>=4.5.1 constraint
  pixi.lock
Due: none

chore: regenerate pixi.lock for pytest-cov>=7.1.0 constraint
  pixi.lock
Due: none

chore: regenerate pixi.lock for pytest>=9.0.3 constraint
  pixi.lock
Due: none

chore: regenerate pixi.lock for matplotlib>=3.10.8 constraint
  pixi.lock
Due: none

fix(e2e): detect rate limits in stream-json stdout, add WeeklyLimitError
  src/scylla/e2e/judge_runner.py
  src/scylla/e2e/llm_judge.py
  src/scylla/e2e/parallel_executor.py
  src/scylla/e2e/rate_limit.py
  tests/unit/e2e/test_judge_runner.py
  tests/unit/e2e/test_llm_judge.py
  tests/unit/e2e/test_rate_limit.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): remove plain-text stdout scan to prevent false-positive rate-limit detection
  src/scylla/e2e/rate_limit.py
  tests/unit/e2e/test_rate_limit.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): overwrite stale completed/ dir when promoting run on rerun
  src/scylla/e2e/paths.py
  tests/unit/e2e/test_stage_commit_agent_changes.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): skip stderr scan on exit-0 judge responses to prevent false positives
  src/scylla/e2e/llm_judge.py
  tests/unit/e2e/test_llm_judge.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(scripts): implement docker_build_timing functions directly
  scripts/docker_build_timing.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(ci): install hephaestus in docker-build-timing job
  .github/workflows/docker-test.yml
Due: none

fix(ci): install project deps via pixi in docker-build-timing job
  .github/workflows/docker-test.yml
Due: none

[scylla] Agent changes
  scripts/patch_checkpoint_for_rejudge.py
  scripts/rerun_test001_judges.sh
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): auto-resume after weekly rate limit instead of crashing
  src/scylla/e2e/parallel_executor.py
Due: check-shell-injection

fix(scripts): fix ruff/mypy issues in patch_checkpoint_for_rejudge
  scripts/patch_checkpoint_for_rejudge.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

docs: update ecosystem description and architecture docs (Closes #1686)
  README.md
  docs/design/architecture.md
Due: none

refactor(e2e): replace _clone_with_retry backoff loop with decorator
  src/scylla/e2e/workspace_manager.py
Due: check-shell-injection

fix(ci): parse npm audit JSON output for structured vulnerability counts
  .github/workflows/ci-image.yml
Due: none

test(integration): add audit models mismatch detection integration test
  tests/integration/cli/test_cli_integration.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(maestro): add MaestroClient and AsyncMaestroClient with exponential backoff retry logic
  src/scylla/maestro/__init__.py
  src/scylla/maestro/async_client.py
  src/scylla/maestro/client.py
  src/scylla/maestro/errors.py
  src/scylla/maestro/models.py
  tests/unit/maestro/__init__.py
  tests/unit/maestro/conftest.py
  tests/unit/maestro/test_client.py
  tests/unit/maestro/test_models.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

refactor(e2e): replace inline retry loop in model_validation with decorator (Closes #1617)
  src/scylla/e2e/model_validation.py
  tests/unit/e2e/test_model_validation.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

chore(deps): bump matplotlib, pytest, pre-commit lower bounds
  pixi.lock
  pyproject.toml
Due: none

feat(adapters): add AgamemnonClient with retry logic for transient failures
  src/scylla/adapters/agamemnon_client.py
  tests/unit/adapters/test_agamemnon_client.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

chore: stage changes before rebase
  .github/workflows/ci-image.yml
  src/scylla/adapters/agamemnon_client.py
  src/scylla/e2e/workspace_manager.py
  src/scylla/maestro/__init__.py
  src/scylla/maestro/async_client.py
  src/scylla/maestro/client.py
  src/scylla/maestro/errors.py
  src/scylla/maestro/models.py
  tests/integration/cli/test_cli_integration.py
  tests/unit/adapters/test_agamemnon_client.py
  tests/unit/maestro/__init__.py
  tests/unit/maestro/conftest.py
  tests/unit/maestro/test_client.py
  tests/unit/maestro/test_models.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

Path conditions:
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  mypy-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  check-type-alias-shadowing: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$ and not (^tests/test_check_type_alias_shadowing\.py$)
  validate-model-configs: any of: ^config/models/.*\.yaml$
  check-model-config-consistency: any of: ^config/models/.*\.yaml$
