Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing, validate-model-configs, check-model-config-consistency

Path conditions:
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  mypy-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  check-type-alias-shadowing: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$ and not (^tests/test_check_type_alias_shadowing\.py$)
  validate-model-configs: any of: ^config/models/.*\.yaml$
  check-model-config-consistency: any of: ^config/models/.*\.yaml$

chore: regenerate pixi.lock for matplotlib>=3.10.9 pyproject.toml change
  pixi.lock
Due: none

chore: regenerate pixi.lock for pandas>=2.3.3 pyproject.toml change
  pixi.lock
Due: none

chore: regenerate pixi.lock for pytest-asyncio>=1.3.0 pyproject.toml change
  pixi.lock
Due: none

chore: regenerate pixi.lock for vl-convert-python>=1.9.0.post1 pyproject.toml change
  pixi.lock
Due: none

chore: regenerate pixi.lock for hatchling>=1.29.0 pyproject.toml change
  pixi.lock
Due: none

fix(research): correct monotonicity claim and trend description in Haiku paper
  docs/arxiv/haiku/paper.pdf
  docs/arxiv/haiku/paper.tex
Due: none

ci: remove CHANGELOG version check from workflows
  .github/workflows/_required.yml
  .github/workflows/test.yml
Due: none

fix(research): correct monotonicity claim and trend description in Haiku paper (#1893)
  docs/arxiv/haiku/paper.pdf
  docs/arxiv/haiku/paper.tex
Due: none

fix(ci): open PR for version bump instead of pushing directly to main
  .github/workflows/release.yml
Due: none

fix(ci): open PR for version bump instead of pushing directly to main (#1896)
  .github/workflows/release.yml
Due: none

fix(analysis): use pd.notna() for NaN checks in table generators
  src/scylla/analysis/tables/comparison.py
  src/scylla/analysis/tables/detail.py
  src/scylla/analysis/tables/summary.py
Due: check-shell-injection

style: apply ruff format and fix end-of-file
  src/scylla/analysis/tables/summary.py
Due: check-shell-injection

fix: add missing end-of-file newlines
  docs/arxiv/haiku/data/statistical_results.json
  docs/arxiv/haiku/data/summary.json
  docs/arxiv/haiku/tables/tab01_tier_summary.md
  docs/arxiv/haiku/tables/tab01_tier_summary.tex
  docs/arxiv/haiku/tables/tab02_tier_comparison.md
  docs/arxiv/haiku/tables/tab02_tier_comparison.tex
  docs/arxiv/haiku/tables/tab02b_impl_rate_comparison.md
  docs/arxiv/haiku/tables/tab02b_impl_rate_comparison.tex
  docs/arxiv/haiku/tables/tab03_judge_agreement.md
  docs/arxiv/haiku/tables/tab03_judge_agreement.tex
  docs/arxiv/haiku/tables/tab04_criteria_performance.md
  docs/arxiv/haiku/tables/tab04_criteria_performance.tex
  docs/arxiv/haiku/tables/tab05_cost_analysis.md
  docs/arxiv/haiku/tables/tab05_cost_analysis.tex
  docs/arxiv/haiku/tables/tab07_subtest_detail.md
  docs/arxiv/haiku/tables/tab07_subtest_detail.tex
  docs/arxiv/haiku/tables/tab08_summary_statistics.md
  docs/arxiv/haiku/tables/tab08_summary_statistics.tex
  docs/arxiv/haiku/tables/tab09_experiment_config.md
  docs/arxiv/haiku/tables/tab09_experiment_config.tex
  docs/arxiv/haiku/tables/tab10_normality_tests.md
  docs/arxiv/haiku/tables/tab10_normality_tests.tex
  docs/arxiv/haiku/tables/tab11_experiment_overview.md
  docs/arxiv/haiku/tables/tab11_experiment_overview.tex
Due: none

chore: update pixi.lock for matplotlib constraint change
  pixi.lock
Due: none

fix(research): paper review corrections for Haiku analysis
  docs/arxiv/haiku/data/statistical_results.json
  docs/arxiv/haiku/data/summary.json
  docs/arxiv/haiku/paper.tex
  docs/arxiv/haiku/tables/tab01_tier_summary.tex
  docs/arxiv/haiku/tables/tab02_tier_comparison.tex
  docs/arxiv/haiku/tables/tab02b_impl_rate_comparison.tex
  docs/arxiv/haiku/tables/tab03_judge_agreement.tex
  docs/arxiv/haiku/tables/tab05_cost_analysis.tex
  docs/arxiv/haiku/tables/tab07_subtest_detail.md
  docs/arxiv/haiku/tables/tab07_subtest_detail.tex
  docs/arxiv/haiku/tables/tab08_summary_statistics.tex
  docs/arxiv/haiku/tables/tab09_experiment_config.md
  docs/arxiv/haiku/tables/tab10_normality_tests.tex
  docs/arxiv/haiku/tables/tab11_experiment_overview.md
  docs/arxiv/haiku/tables/tab11_experiment_overview.tex
Due: none

fix(research): escape underscores in tab04 criteria names and format summary.py
  src/scylla/analysis/tables/summary.py
Due: check-shell-injection

feat(scripts): add operational scripts for judge reruns and rate-limit resets
  scripts/rejudge_21_missing.sh
  scripts/reset_rate_limited_runs.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(research): strict audit corrections for Haiku paper
  docs/arxiv/haiku/figures/fig06_cop_by_tier.png
  docs/arxiv/haiku/figures/fig06_cop_by_tier.vl.json
  docs/arxiv/haiku/paper.tex
Due: none

fix(analysis): use pd.notna() for NaN checks in table generators
  src/scylla/analysis/tables/summary.py
Due: check-shell-injection

chore(research): fix trailing newlines in generated data and table files
  docs/arxiv/haiku/data/statistical_results.json
  docs/arxiv/haiku/data/summary.json
  docs/arxiv/haiku/tables/tab01_tier_summary.tex
  docs/arxiv/haiku/tables/tab02_tier_comparison.tex
  docs/arxiv/haiku/tables/tab02b_impl_rate_comparison.tex
  docs/arxiv/haiku/tables/tab03_judge_agreement.tex
  docs/arxiv/haiku/tables/tab05_cost_analysis.tex
  docs/arxiv/haiku/tables/tab07_subtest_detail.md
  docs/arxiv/haiku/tables/tab07_subtest_detail.tex
  docs/arxiv/haiku/tables/tab08_summary_statistics.tex
  docs/arxiv/haiku/tables/tab09_experiment_config.md
  docs/arxiv/haiku/tables/tab10_normality_tests.tex
  docs/arxiv/haiku/tables/tab11_experiment_overview.md
  docs/arxiv/haiku/tables/tab11_experiment_overview.tex
Due: none

fix(research): Haiku paper final audit corrections and rebuild (#1894)
  docs/arxiv/haiku/figures/fig06_cop_by_tier.png
  docs/arxiv/haiku/figures/fig06_cop_by_tier.vl.json
  docs/arxiv/haiku/paper.tex
  scripts/rejudge_21_missing.sh
  scripts/reset_rate_limited_runs.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(ci): rename slash job-ids to dashes in _required.yml
  .github/workflows/_required.yml
Due: none

fix(research): paper review corrections for Haiku analysis
  docs/arxiv/haiku/data/statistical_results.json
  docs/arxiv/haiku/data/summary.json
  docs/arxiv/haiku/tables/tab01_tier_summary.tex
  docs/arxiv/haiku/tables/tab02_tier_comparison.tex
  docs/arxiv/haiku/tables/tab02b_impl_rate_comparison.tex
  docs/arxiv/haiku/tables/tab03_judge_agreement.tex
  docs/arxiv/haiku/tables/tab04_criteria_performance.tex
  docs/arxiv/haiku/tables/tab05_cost_analysis.tex
  docs/arxiv/haiku/tables/tab07_subtest_detail.md
  docs/arxiv/haiku/tables/tab07_subtest_detail.tex
  docs/arxiv/haiku/tables/tab08_summary_statistics.tex
  docs/arxiv/haiku/tables/tab09_experiment_config.md
  docs/arxiv/haiku/tables/tab10_normality_tests.tex
  docs/arxiv/haiku/tables/tab11_experiment_overview.md
  docs/arxiv/haiku/tables/tab11_experiment_overview.tex
Due: none

fix(research): escape underscores in tab04 criteria names and format summary.py
  docs/arxiv/haiku/tables/tab04_criteria_performance.tex
  src/scylla/analysis/tables/summary.py
Due: check-shell-injection

docs(research): rebuild Haiku paper PDF after corrections
  docs/arxiv/haiku/paper.pdf
Due: none

fix(ci): rename slash job-ids to dashes in _required.yml (#1901)
  .github/workflows/_required.yml
Due: none

chore: Remove CHANGELOG.md checks from CI (#1895)
  docs/arxiv/haiku/paper.pdf
  docs/arxiv/haiku/tables/tab04_criteria_performance.tex
Due: none

fix(build): add hatchling and build to pixi env to fix build CI check
  .github/workflows/_required.yml
  pixi.lock
  pixi.toml
Due: none

chore: regenerate pixi.lock for pre-commit>=4.6.0 pyproject.toml change
  pixi.lock
Due: none

fix(ci): install hatchling build backend before build step
  .github/workflows/_required.yml
Due: none

fix(build): add sdist include config so py.typed survives sdist→wheel build
  pixi.lock
  pyproject.toml
Due: none

fix(build): add sdist include config and hatchling dep so py.typed survives sdist→wheel
  .github/workflows/_required.yml
  pixi.lock
  pyproject.toml
Due: none
