Repository HomericIntelligence/ProjectScylla: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing, validate-model-configs, check-model-config-consistency

Path conditions:
  check-shell-injection: any of: \.py$ and \.py$
  ruff-format-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  ruff-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  mypy-check-python: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$
  check-type-alias-shadowing: any of: ^(scripts|scylla|tests)/.*\.py$ and \.py$ and not (^tests/test_check_type_alias_shadowing\.py$)
  validate-model-configs: any of: ^config/models/.*\.yaml$
  check-model-config-consistency: any of: ^config/models/.*\.yaml$

fix(test): update output path regression test to match new --output semantics
  tests/unit/cli/test_cli_report_stdout.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(docker): resolve HIGH Trivy CVEs with apt upgrade and npm audit fix
  docker/Dockerfile
Due: none

feat(build): add justfile for ecosystem task convention alignment
  justfile
Due: none

feat(maestro): add async MaestroClient for parallel tier execution
  pixi.lock
  pixi.toml
  pyproject.toml
  src/scylla/maestro/__init__.py
  src/scylla/maestro/async_client.py
  tests/unit/maestro/test_async_client.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(cli): honor user-specified filename in --output flag
  src/scylla/cli/main.py
  src/scylla/reporting/json_report.py
  tests/unit/cli/test_cli_report.py
  tests/unit/reporting/test_json_report.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

refactor(automation): rename retrospective → learn to align with /learn command
  scripts/implement_issues.py
  src/scylla/automation/implementer.py
  src/scylla/automation/learn.py
  src/scylla/automation/models.py
  src/scylla/automation/reviewer.py
  tests/unit/automation/test_implementer.py
  tests/unit/automation/test_learn.py
  tests/unit/automation/test_models.py
  tests/unit/automation/test_reviewer.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): re-hydrate in-memory state from disk on checkpoint resume
  scripts/run_batch_experiment.sh
  src/scylla/e2e/rehydrate.py
  src/scylla/e2e/runner.py
  src/scylla/e2e/subtest_executor.py
  src/scylla/e2e/tier_action_builder.py
  tests/unit/e2e/test_rehydrate.py
  tests/unit/e2e/test_subtest_executor.py
  tests/unit/e2e/test_tier_action_builder.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(agamemnon): migrate from ai-maestro to ProjectAgamemnon/ProjectCharybdis (ADR-006)
  config/defaults.yaml
  docs/design/architecture.md
  schemas/defaults.schema.json
  scylla/agamemnon/__init__.py
  scylla/agamemnon/client.py
  scylla/agamemnon/errors.py
  scylla/agamemnon/models.py
  scylla/automation/planner.py
  scylla/config/__init__.py
  scylla/config/loader.py
  scylla/config/models.py
  scylla/e2e/models.py
  scylla/e2e/stages.py
  scylla/e2e/subtest_executor.py
  scylla/maestro/__init__.py
  scylla/maestro/client.py
  scylla/maestro/errors.py
  scylla/maestro/models.py
  tests/integration/agamemnon/__init__.py
  tests/integration/agamemnon/conftest.py
  tests/integration/agamemnon/test_client_integration.py
  tests/unit/agamemnon/__init__.py
  tests/unit/agamemnon/conftest.py
  tests/unit/agamemnon/test_client.py
  tests/unit/agamemnon/test_models.py
  tests/unit/agamemnon/test_retry.py
  tests/unit/e2e/test_stages_maestro.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(e2e): add in_progress/completed dir split, agent commit, off-peak scheduling
  scripts/manage_experiment.py
  scripts/run_batch_experiment.sh
  src/scylla/analysis/loader.py
  src/scylla/e2e/experiment_result_writer.py
  src/scylla/e2e/experiment_setup_manager.py
  src/scylla/e2e/llm_judge.py
  src/scylla/e2e/models.py
  src/scylla/e2e/parallel_executor.py
  src/scylla/e2e/paths.py
  src/scylla/e2e/regenerate.py
  src/scylla/e2e/runner.py
  src/scylla/e2e/scheduling.py
  src/scylla/e2e/stages.py
  src/scylla/e2e/state_machine.py
  src/scylla/e2e/subtest_executor.py
  src/scylla/e2e/tier_action_builder.py
  tests/unit/e2e/test_experiment_result_writer.py
  tests/unit/e2e/test_regenerate.py
  tests/unit/e2e/test_rehydrate.py
  tests/unit/e2e/test_scheduling.py
  tests/unit/e2e/test_stage_commit_agent_changes.py
  tests/unit/e2e/test_state_machine.py
  tests/unit/e2e/test_tier_action_builder.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): remove stale in_progress fallback for best_subtest.json selection
  src/scylla/e2e/tier_action_builder.py
Due: check-shell-injection

refactor(agamemnon): remove maestro backward-compat stubs, rename fields and CLI flags to agamemnon
  docs/design/architecture.md
  docs/dev/milestones.md
  scripts/manage_experiment.py
  scylla/config/__init__.py
  scylla/config/models.py
  scylla/e2e/models.py
  scylla/e2e/stages.py
  scylla/e2e/state_machine.py
  scylla/maestro/__init__.py
  scylla/maestro/client.py
  scylla/maestro/errors.py
  scylla/maestro/models.py
  tests/integration/maestro/__init__.py
  tests/integration/maestro/conftest.py
  tests/integration/maestro/test_client_integration.py
  tests/unit/e2e/test_models.py
  tests/unit/e2e/test_stages_agamemnon.py
  tests/unit/maestro/__init__.py
  tests/unit/maestro/conftest.py
  tests/unit/maestro/test_client.py
  tests/unit/maestro/test_models.py
  tests/unit/maestro/test_retry.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

chore(e2e): remove chaos injection from Scylla — belongs in Charybdis
  config/defaults.yaml
  scripts/manage_experiment.py
  scylla/agamemnon/__init__.py
  scylla/agamemnon/client.py
  scylla/agamemnon/errors.py
  scylla/agamemnon/models.py
  scylla/config/__init__.py
  scylla/config/loader.py
  scylla/config/models.py
  scylla/e2e/models.py
  scylla/e2e/stages.py
  scylla/e2e/state_machine.py
  scylla/e2e/subtest_executor.py
  tests/integration/agamemnon/__init__.py
  tests/integration/agamemnon/conftest.py
  tests/integration/agamemnon/test_client_integration.py
  tests/unit/agamemnon/__init__.py
  tests/unit/agamemnon/conftest.py
  tests/unit/agamemnon/test_client.py
  tests/unit/agamemnon/test_models.py
  tests/unit/agamemnon/test_retry.py
  tests/unit/e2e/test_models.py
  tests/unit/e2e/test_stages.py
  tests/unit/e2e/test_stages_agamemnon.py
  tests/unit/e2e/test_state_machine.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(containers): add Dockerfile for Claude Code agent container
  Dockerfile
Due: none

fix(automation): update tests to use Learn instead of Retrospective naming
  src/scylla/automation/implementer.py
  src/scylla/automation/reviewer.py
  tests/unit/automation/test_implementer.py
  tests/unit/automation/test_learn.py
  tests/unit/automation/test_models.py
  tests/unit/automation/test_reviewer.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(migration): rename maestro module to agamemnon, update chaos API endpoints (ADR-006)
  Dockerfile
  config/defaults.yaml
  docs/design/architecture.md
  schemas/defaults.schema.json
  scripts/manage_experiment.py
  src/scylla/config/__init__.py
  src/scylla/config/loader.py
  src/scylla/config/models.py
  src/scylla/e2e/models.py
  src/scylla/e2e/stages.py
  src/scylla/e2e/state_machine.py
  src/scylla/e2e/subtest_executor.py
  src/scylla/maestro/__init__.py
  src/scylla/maestro/async_client.py
  src/scylla/maestro/client.py
  src/scylla/maestro/errors.py
  src/scylla/maestro/models.py
  tests/integration/maestro/__init__.py
  tests/integration/maestro/conftest.py
  tests/integration/maestro/test_client_integration.py
  tests/unit/e2e/test_manage_experiment_cli.py
  tests/unit/e2e/test_models.py
  tests/unit/e2e/test_stages.py
  tests/unit/e2e/test_stages_maestro.py
  tests/unit/e2e/test_state_machine.py
  tests/unit/maestro/__init__.py
  tests/unit/maestro/conftest.py
  tests/unit/maestro/test_async_client.py
  tests/unit/maestro/test_client.py
  tests/unit/maestro/test_models.py
  tests/unit/maestro/test_retry.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): fix path bypass violations in completed/ routing
  scripts/manage_experiment.py
  src/scylla/e2e/parallel_tier_runner.py
  src/scylla/e2e/regenerate.py
  src/scylla/e2e/resume_manager.py
  src/scylla/e2e/tier_manager.py
  tests/unit/e2e/test_manage_experiment_repair.py
  tests/unit/e2e/test_manage_experiment_run.py
  tests/unit/e2e/test_parallel_tier_runner.py
  tests/unit/e2e/test_runner.py
  tests/unit/e2e/test_tier_manager.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): apply ruff format — wrap long lines in resume_manager and tier_manager
  src/scylla/e2e/resume_manager.py
  src/scylla/e2e/tier_manager.py
Due: check-shell-injection

test(e2e): add missing tests for committed-diff fallback, stage_promote, --off-peak
  tests/unit/e2e/test_llm_judge.py
  tests/unit/e2e/test_manage_experiment_run.py
  tests/unit/e2e/test_stage_promote.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

feat(scripts): add 3-stage haiku paper experiment runner
  scripts/run_haiku_experiment.sh
Due: none

refactor(scripts): replace ported scripts with hephaestus thin wrappers
  pyproject.toml
  scripts/audit_doc_examples.py
  scripts/check_changelog_version.py
  scripts/check_coverage.py
  scripts/check_docstring_fragments.py
  scripts/check_readmes.py
  scripts/check_tier_label_consistency.py
  scripts/fix_markdown.py
  src/scylla/core/resilience.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

refactor(scripts): strip re-exports, tests import hephaestus directly
  scripts/audit_doc_examples.py
  scripts/check_changelog_version.py
  scripts/check_coverage.py
  scripts/check_docstring_fragments.py
  scripts/check_readmes.py
  scripts/check_tier_label_consistency.py
  scripts/fix_markdown.py
  tests/unit/scripts/test_audit_doc_examples.py
  tests/unit/scripts/test_check_changelog_version.py
  tests/unit/scripts/test_check_coverage.py
  tests/unit/scripts/test_check_docstring_fragments.py
  tests/unit/scripts/test_check_readmes.py
  tests/unit/scripts/test_check_tier_label_consistency.py
  tests/unit/scripts/test_fix_markdown.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(deps): resolve pre-commit failures from unpublished hephaestus >=0.6.0
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
  pyproject.toml
  scripts/check_package_version_consistency.py
  scripts/fix_markdown.py
  src/scylla/core/resilience.py
  tests/unit/scripts/test_check_docstring_fragments.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(e2e): redirect run_dir to completed/ for promoted_to_completed resume
  src/scylla/e2e/subtest_executor.py
  tests/unit/e2e/test_subtest_executor.py
Due: check-shell-injection, ruff-format-python, ruff-check-python, mypy-check-python, check-type-alias-shadowing

fix(deps): switch hephaestus from path dep to PyPI >=0.6.0 and regenerate lock
  pixi.lock
  pixi.toml
  pyproject.toml
Due: none

fix(e2e): widen completed/ redirect to AGENT_COMPLETE for regressed states
  src/scylla/e2e/subtest_executor.py
Due: check-shell-injection
